
<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Course Description</h3>

        <p class="card-text">
            You know the basics of programming. You're proficient in variables, functions, control flow,
            data structures, and file IO. With these concepts, you can train a computer
            to complete nearly any task you can imagine. So what's next?
        </p>

        <p>
            <b>Writing large programs</b>
        </p>

        <p>
            You will learn how to write and organize large pieces of software. To this end, in CSE116 you will study:
        </p>

        <ul>
            <li><b>Unit Testing</b> - How to automate the process of verifying that your code is correct</li>
            <li><b>Classes and Object-Oriented Programming (OOP)</b> - Organize your code into classes and objects</li>
            <li><b>Data Structures & Algorithms</b> - Efficiently work with different types of data</li>
        </ul>

        <p>
            While studying these topics we will have a focus on <em>how</em> your programs work, not just
            <em>that</em> they work.
        </p>

    </div>
</div>


<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Expectations</h3>
        <p class="card-text">
            This is not an easy course! To do well in this course you are expected to:
        </p>
        <ul>
            <li>Invest a minimum of <b>12 hours/week*</b> in CSE116 including at least 7 hours/week outside of class/lab</li>
            <li>Want to learn about computer science (This is assumed since you are taking a second CSE course)</li>
            <li>Have a <b>strong</b> understanding of the basics of programming (Including expressions, variables, functions, conditionals, loops, arrays, key-value stores, and memory traces)</li>
            <li>Participate in every lecture and lab (There is NO lab during week 1)</li>
        </ul>

        <p>
            * The 12 hour/week minimum is an average. If you invest less than 12 hours/week in
            CSE116 during the first several weeks of the semester, or do not fully understand all the CSE115 topics,
            you should expect to work significantly more than
            12 hours/week while you catch up. You can expect to spend 40+ hours in a single week on this course
            if you fall behind or if you have not mastered the basics of programming
        </p>

    </div>

</div>



<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Learning Objectives</h3>

        <p>
            Being successful in CSE116 requires completion of all the learning objective requirements. There are
            15 Learning objectives divided into 4 categories:
        </p>

        <hr/>
        <h5>Read Code / Lab Tracing Quizzes</h5>

        <p>
            There are 3 Tracing Quizzes that will take place in lab that will assess your completion of learning
            objectives. For each quiz you will be provided with the code for a program, and you are to trace through
            the stack and heap memory usage throughout its execution.
        </p>

        <p>
            These quizzes are completed in an exam environment. Accessing anything other than the quiz material in
            UBPower (The tracing tool) is an academic integrity violation.
        </p>

         <ol class="objective">
            <li class="objective">
                <b>Tracing Quiz 1 - Classes</b>: Trace the memory usage of programs that use classes to create
                objects that are stored using references
            </li>
             <li class="objective">
                <b>Tracing Quiz 2 - Data Structures</b>: Trace the memory usage of programs that use Linked-Lists and
                 Trees
             </li>
             <li class="objective">
                <b>Tracing Quiz 3 - Object-Oriented Programming (OOP)</b>: Trace the memory usage of programs that use
                 inheritance and polymorphism
             </li>
         </ol>


        <hr/>
        <h5>Explain Concepts / Lab Interviews</h5>

        <p>
            There are 3 Interviews that will take place in lab that will assess your completion of learning
            objectives. Interviews are limited to 10 minutes where a TA will ask you a variety of questions related
            to the concept being assessed. To pass an interview, you must demonstrate that you can competent explain
            these concepts on a technical level. Simple regurgitating memorized definitions will not earn credit on
            these interviews. You should be able to have a conversation with another human about the concepts which is
            what the interviews simulate
        </p>

        <p>
            Your interviewing TA does not make decisions for learning objective completion. Your interviewing TA
            will record your answers during the interview which will be reviewed by a separate grading team. Do not
            pressure your interviewing TA into marking you for completion
        </p>


         <ol class="objective">
            <li class="objective">
                <b>Interview 1 - Classes</b>: Explain the concepts of classes, objects, references, heap memory, and how
                they affect the programs we write
            </li>
             <li class="objective">
                <b>Interview 2 - Data Structures</b>: Describe the structures of linked-lists, binary trees, stacks,
                 queues, binary search trees, and algorithms to work with their data
             </li>
             <li class="objective">
                <b>Interview 3 - Object-Oriented Programming (OOP)</b>: Explain the concepts of inheritance and
                 polymorphism and how they can help us as we write large pieces of software
             </li>
         </ol>


        <hr/>
        <h5>Write Code / Lab Coding Quizzes</h5>

        <p>
            There are 3 Coding Quizzes that will take place in lab that will assess your completion of learning
            objectives. For these quizzes you will be given a small programming task, and you will write code to
            complete the task in a timed environment without access to any outside material. You will use IntelliJ
            to write your code and will have unlimited submission to AutoLab within the lab time.
        </p>

        <p>
            These quizzes are completed in an exam environment. Accessing anything other than the quiz material in
            IntelliJ or AutoLab is an academic integrity violation.
        </p>

         <ol class="objective">
            <li class="objective">
                <b>Coding Quiz 1 - Classes</b>: Write programs that includes classes, creates objects, modifies objects
                on the heap, and passes objects by reference
            </li>
             <li class="objective">
                <b>Coding Quiz 2 - Data Structures</b>: Write programs that use linked-lists and binary trees
             </li>
             <li class="objective">
                <b>Coding Quiz 3 - Object-Oriented Programming (OOP)</b>: Write programs that use
                 inheritance and polymorphism
             </li>
         </ol>


        <hr/>
        <h5>Write Large Programs / Take Home Coding Tasks</h5>

        <p>
            There are 6 Coding Tasks that you'll complete outside of class time that will assess your completion of
            learning objectives. These tasks are where students spend most of their
            time working on CSE116. Through these tasks, you will gain hands-on experience applying the concepts of
            the course to a large project. All 6 coding tasks build on each other as you work on a project throughout
            the semester
        </p>

         <ol class="objective">
            <li class="objective">
                <b>Coding Task 1 - Classes</b>: Implement and use classes in a large program
            </li>
             <li class="objective">
                <b>Coding Task 2 - Linked-Lists</b>: Use linked-lists in a large program
             </li>
             <li class="objective">
                <b>Coding Task 3 - Inheritance</b>: Apply inheritance to new classes in a large program
             </li>
             <li class="objective">
                <b>Coding Task 4 - Trees</b>: Use trees in a large program
             </li>
             <li class="objective">
                <b>Coding Task 5 - Polymorphism</b>: Apply polymorphism to add new features in a large program
             </li>
             <li class="objective">
                <b>Coding Task 6 - Graphs</b>: Use graphs in a large program
             </li>
         </ol>


        <hr/>
        <h4>Logistics</h4>

        <p>
            All 9 of the lab learning objectives are listed on the course schedule. All of these assessments are graded
            on a pass/fail basis (You've either completed the learning objective or you have not). Ideally, you will
            complete every objective during these labs. If you don't complete an objective this lab, you will have the
            following opportunities to prove that you have completed the objective:
        </p>

        <ul>
            <li>
                All 6 Coding Tasks need to completed before their corresponding final deadline
            </li>
            <li>
                All 9 of these assessments have a "2nd attempt" lab on the schedule. Each of these labs provide a 2nd
                chance to complete the specified tracing quiz, interview, and coding quiz. You may attempt all 3 assessments
                during these labs if needed, though you still must finish within the lab time. If you've completed all 3
                assessments on your first attempt, there is no need to attend this lab
            </li>
            <li>
                For any of these 9 learning objectives that you do not complete after the 1st and 2nd attempts, you will
                have a 3rd attempt to prove that you've completed the learning objective on the final exam. The 3rd
                attempt for these 9 lab learning objectives is the only purpose of the final exam. If you complete all
                9 of these objectives on your first 2 attempts, you do not need to attend the final exam
            </li>
            <li>
                Please note that this course follows a master-based structure where you must complete all learning objectives to avoid
                having gaps in your knowledge that can make future courses nearly impossible to complete. Three attempts are only
                offered due to this mastery-based approach to make sure you have ample chances to prove that you've
                filled in these gaps. <b>Please do not use the existence of 3 chance to blow off the first 2.</b> Many
                students have failed this course by relying on the extra chances to skip labs or show up unprepared.
                <b>Please</b> do not do this. We like all our students, but we do not want to see you in CSE116 next
                semester.
            </li>
        </ul>


        <br/>

        <table class="table table-bordered table-skinny">
            <thead>
            <tr>
                <th>Learning Objective Requirements Completed</th>
                <th>Grade</th>
            </tr>
            </thead>
            <tr>
                <td>All 3 Tracing Quizzes, all 3 Interviews, all 3 Coding Quizzes, and all 6 Coding Tasks (15 Learning Objective complete)</td>
                <td>Grade depends on the number of Effort Points earned</td>
            </tr>
            <tr>
                <td>Less than all Tracing Quizzes, all Interviews, all Coding Quizzes, and all Coding Tasks (0-14 Learning Objective complete)</td>
                <td>F</td>
            </tr>
        </table>
    </div>
</div>






<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Effort Points</h3>
        <p class="card-text">


        <p>
            If you have completed every learning objectives, your grade will be determined by the number of
            effort points you've earned. These points are designed to incentivize you to keep
            up with the material of the course and participate in every lecture and lab. Effort points are not
            meant to be overly difficult to earn. Your final letter grade will be determined as follows:
        </p>

        <table class="table table-bordered table-skinny">
            <thead>
            <tr>
                <th>Effort Points Earned</th>
                <th>Grade</th>
            </tr>
            </thead>
            <tr>
                <td>24-26</td>
                <td>A</td>
            </tr>
            <tr>
                <td>23</td>
                <td>A-</td>
            </tr>
            <tr>
                <td>22</td>
                <td>B+</td>
            </tr>
            <tr>
                <td>21</td>
                <td>B</td>
            </tr>
            <tr>
                <td>20</td>
                <td>B-</td>
            </tr>
            <tr>
                <td>18-19</td>
                <td>C+</td>
            </tr>
            <tr>
                <td>16-17</td>
                <td>C</td>
            </tr>
            <tr>
                <td>14-15</td>
                <td>C-</td>
            </tr>
            <tr>
                <td>10-13</td>
                <td>D</td>
            </tr>
            <tr>
                <td>0-9</td>
                <td>F</td>
            </tr>
        </table>

        <br/>

        <hr/>
        <h4>Earning Effort Points</h4>

        <p>
            Falling even 1 week behind in this course will significantly increase your chances of failing. Effort points
            offer you incentives to stay up-to-date on the material by giving you chances to improve your
            letter grade by showing us that you have successful study habits (eg. You show up to every lecture and lab,
            you start working on assignments early, and you study for your 1st attempt on every lab assessment).
        </p>

        <ul>
            <li>Practice Learning Objective Assessments (The 0 assessments) x4
            <ul>
                <li>
                    For each of the 4 Learning Objective categories (Tracing quizzes, interviews, coding quizzes, coding
                    tasks), there is an assessment labeled 0 (eg. Coding task 0). These assessments are not associated
                    with any learning objectives (Not required to pass the course) and are meant to give you practice
                    for the learning objective assessments. For each 0 assessment you successfully complete, you will
                    earn 1 effort point
                </li>
                <li>
                    You only have one chance to earn each of these effort points. Since they are not required to pass
                    the course, there is no need to offer multiple opportunities to complete them
                </li>
            </ul></li>
            <li>Coding Task Expected Deadlines x6
            <ul>
                <li>
                    Each of the 6 coding tasks have 2 deadlines, the expected deadline and the final deadline. As the
                    name implies, you are expected to complete every task before its expected deadline. With a
                    traditional course grading structure, this would be the only deadline. Since this courses follows a
                    mastery-based structure (You are required to complete every learning objective), there is a second
                    deadline that effectively gives you a 2-week extension so you still have a chance to pass the class
                    even if you have to miss an expected deadline.
                </li>
                <li>
                    Each time you complete a task before its expected deadline, you will earn 1 effort point
                </li>
            </ul></li>
            <li>Lab Learning Objective Assessments x9
            <ul>
                <li>
                    You have 3 attempts to complete each of the 9 lab learning objectives (Tracing quiz 1-3, interview
                    1-3, and coding quiz 1-3). Each time you complete one of these learning objectives during a first
                    attempt lab (without needing the 2nd attempt or final exam), you will earn 1 effort point
                </li>
                <li>
                    Lab absence policy: For each of the 3 category (Tracing quiz, interview, coding quiz), you may earn
                    up to 1 effort point during a 2nd chance lab.
                    This will be done automatically and will apply whether you attempted to assessment and did not pass
                    on the first attempt, or if you did not even attend the first attempt lab. With this policy, if you
                    have to miss an assessment lab, there's no need to provide a doctors or any other documentation.
                    Stay home, stay safe, don't miss your siblings wedding. Whatever it is, you can miss any 1 lab with
                    no repercussion and no questions asked. If you have to miss multiple labs, you will need to provide
                    official documentation for all labs that you missed if you expect an exception
                </li>
            </ul></li>
            <li>Lab Activities x5
            <ul>
                <li>
                    There are 6 lab activities on the lab schedule. Participating in a lab activity will earn you 1
                    effort point. One activity will be dropped (As part of the absence policy) for a maximum of 5 effort
                    points from activities. These are meant to be easy points to earn as long as you attend lab, were
                    on time, and actively participated throughout the activity.
                </li>
            </ul></li>
            <li>Lecture Questions x2
            <ul>
                <li>
                    Most lectures will include questions or activities to be completed during live lectures. These
                    will be simple
                    questions designed to encourage you to attend lecture and stay up to date on the material. Since
                    lectures will be recorded, there is a temptation to watch lecture days, or even weeks, after they
                    occur. These questions are to serve as an incentive for you to attend lecture and avoid falling
                    behind in the course.
                </li>
                <li>
                    We will drop a total of 6 (2 weeks worth) lecture questions that were either not submitted or
                    submitted with an incorrect answer. You can use these 6 drops for any reason (Including illness,
                    travel, forgetting to submit you answer, or pressing the wrong button). If you have to miss more
                    than 2
                    full weeks of lecture and expect to be able to makeup more than 6 lecture questions, you must
                    provide official documentation stating that you were unable to attend lecture for more than 2 weeks.
                    Please note that a plane ticket is not official documentation.
                </li>
                <li>
                    If, after the 6 drops, you answer all lecture questions correctly, you will earn 2 effort points
                </li>
                <li>
                    If, after the 6 drops, you missed (either not submitted or submitted with an incorrect answer)
                    between 1 and 3 lecture questions, you will earn 1 effort point
                </li>
                <li>
                    If, after the 6 drops, you missed (either not submitted or submitted with an incorrect answer)
                    more than 3 lecture questions (Missed >9 total), you will not earn any effort points from lecture
                    questions
                </li>
            </ul></li>
        </ul>

    </div>
</div>



<div id="section3" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Readings</h3>
        <p>
            There is no textbook for this course. Instead, links to relevant readings and tutorials are provided
            in the course schedule. When a reading is listed you should study it before lecture.
        </p>
    </div>

</div>

<div id="section4" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">University/Department Policies and Services</h3>
        <ul>
            <li>Counseling: <a href="http://www.buffalo.edu/studentlife/who-we-are/departments/counseling.html">http://www.buffalo.edu/studentlife/who-we-are/departments/counseling.html</a>
            </li>
            <li>Accessibility: <a
                    href="http://www.buffalo.edu/studentlife/who-we-are/departments/accessibility.html">http://www.buffalo.edu/studentlife/who-we-are/departments/accessibility.html</a>
            </li>
{#            <li>Grading: <a href="https://catalog.buffalo.edu/policies/explanation.html">https://catalog.buffalo.edu/policies/explanation.html</a>#}
{#            </li>#}
        </ul>

    </div>

</div>

<div id="section5" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Academic Integrity</h3>
        <p class="card-text">
        <p>
            CSE Department Academic Integrity Policy: <br/><a
                href="https://engineering.buffalo.edu/computer-science-engineering/information-for-students/undergraduate-program/cse-undergraduate-academic-policies/cse-academic-integrity-policy.html">
            https://engineering.buffalo.edu/computer-science-engineering/information-for-students/undergraduate-program/cse-undergraduate-academic-policies/cse-academic-integrity-policy.html</a>
        </p>
        <p>
            UB Academic Integrity Policy: <br/><a
                href="https://catalogs.buffalo.edu/content.php?catoid=11&navoid=571#preamble">
            https://catalogs.buffalo.edu/content.php?catoid=11&navoid=571#preamble</a>
        </p>
        <p>
            In addition to the department and university policies, the following details apply to this course.
        </p>

        <p>
            All submitted work must be of your own creation, and you must not share your submission with anyone else. If
            any submission is very similar to code that has been submitted by another student,
            or can be found online, it is in violation of this course's academic integrity policy, and all students will
            be penalized whether they were copying or sharing their code with other students so they can copy. If two
            submissions are similar beyond what is likely if the students worked independently, then <b>both students
            are in violation</b> of the academic integrity policy.
        </p>
        <p>
            All violations will result in:
        </p>

{#        <div class="row">#}
{#            <div class="col-sm-4">#}
                <div class="text-center alert alert-danger">
                    <h3 style="color:red">An F in CSE116.</h3>
                </div>
{#            </div>#}
{#            <div class="col-sm-8"></div>#}
{#        </div>#}

        <p>
            It is your responsibility to understand what constitutes an academic integrity violation. If you have
            any question whether something you are doing is a violation or not, ask for
            clarification <b>before receiving an F in the course</b>. We will not entertain excuses after you
            have been caught.
        </p>
        <p>
            Examples of acceptable behavior:
        </p>
        <ul>
            <li>Discussing an assignment with your classmates and brainstorming <b>abstract</b> solutions, then writing
                the code independently
            </li>
            <li>Forming study groups and discussing course material and assignments on Discord, Zoom, etc.</li>
            <li>Searching the Internet for supplementary material on the course topics</li>
            <li>Asking the teaching staff for clarification on a homework question</li>
            <li>Having, or hiring, someone to help you <em>understand the concepts</em> of the course</li>
        </ul>

        <p>
            Examples of <b>un</b>acceptable behavior:
        </p>
        <ul>
            <li>Pressuring a TA to falsify an interview report.</li>
            <li>Submitting code, or other work, for course credit that is not your own.</li>
            <li>Collaborating with another student to write code for an assignment. (Do not sit next to your friend while you both work on the coding tasks)</li>
            <li>Using Artificial Intelligence to help you write code</li>
            <li>Allowing another student to see your code or submission for an assignment.</li>
            <li>Allowing another student to access your work that will be submitted for course credit. (Examples: Do not
                post you code publicly, host your code in a public repository, or allow a classmate to access your
                laptop)</li>
            <li>Having someone help you write code.</li>
            <li>Hiring someone to write code for you.</li>
            <li>Copying a large amount of material found on the Internet into your submission.</li>
            <li>Attempting to access the grading code on Autolab.</li>
            <li>Asking any of the course staff to falsify your grade (eg. Asking for any result that you did not rightfully earn).</li>
            <li>Submitting lecture questions without attending the entire lecture in person.</li>
        </ul>

        <p>
            If you plan on cheating, plan on taking this course again.
        </p>

    </div>

</div>