<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Course Description</h3>

        <p class="card-text">
            You come into this course knowing the basics of programming. You're proficient in variables, functions,
            control flow,
            data structures, and file IO. With these concepts, you can train a computer
            to complete nearly any task you can imagine. The next step is to use these skills in more efficient ways to
            write better
            code. The course is based around writing larger and more complex programs in order to focus on each of the
            course learning
            objectives.
        </p>

        <p>
            Learning Objectives (what you need to master in order to pass this course):
        </p>

        <ul>
            <li><b>Unit Testing</b> - How to automate the process of verifying that your code is correct</li>
            <li><b>Classes and Object-Oriented Programming (OOP)</b> - Organize your code into classes and objects</li>
            <li><b>Data Structures & Algorithms</b> - Efficiently work with different types of data</li>
        </ul>

        <p>
            You must show a minimum threshold of all concepts (at least 50% of the points) on each course component that
            directly
            relates to the learning objectives listed above.
        </p>

    </div>
</div>


<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Expectations</h3>
        <p class="card-text">
            This is not an easy course! To do well in this course you are expected to:
        </p>
        <ul>
            <li>Invest a minimum of <b>12 hours/week*</b> in CSE116 including at least 7 hours/week outside of class/lab
            </li>
            <li>Want to learn about computer science (This is assumed since you are taking a second CSE course)</li>
            <li>Have a <b>strong</b> understanding of the basics of programming (Including expressions, variables,
                functions, conditionals, loops, arrays, key-value stores, and memory traces)
            </li>
            <li>Participate in every lecture and lab (There is NO lab during weeks 1 or 2)</li>
        </ul>

        <p>
            * The 12 hour/week minimum is an average. If you invest less than 12 hours/week in
            CSE116 during the first several weeks of the semester, or do not fully understand all the CSE115 topics,
            you should expect to work significantly more than
            12 hours/week while you catch up. You can expect to spend 40+ hours in a single week on this course
            if you fall behind or if you have not mastered the basics of programming
        </p>

    </div>

</div>


<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Learning Objective: How we measure understanding</h3>

        <p>
            Being successful in CSE116 requires a minimum threshold of understanding of each of the course learning
            objectives. There
            are 14 assignments throughout the semester that directly relate to your demonstration of mastery of the
            course material.
            The assignments are the following:
        </p>

        <hr/>
        <h5>Read Code / Lab Tracing Quizzes</h5>

        <p>
            There are 3 Tracing Quizzes that will take place in lab that will assess your completion of learning
            objectives. For each quiz will consistent of 2 questions where you will be provided with the code for a
            program,
            and you are to trace through the stack and heap memory usage throughout its execution. Each of these
            question will be graded
            on a pass fail basis and worth 50 points. As long as you pass one of them you have completed the learning
            objective. There are 100
            possible points for each because of the two questions.
        </p>

        <p>
            These quizzes are completed in an exam environment. Accessing anything other than the quiz material in
            UBPower (The tracing tool) is an academic integrity violation.
        </p>

        <ol class="objective">
            <li class="objective">
                <b>Tracing Quiz 1 - Classes</b>: Trace the memory usage of programs that use classes to create
                objects that are stored using references
            </li>
            <li class="objective">
                <b>Tracing Quiz 2 - Data Structures</b>: Trace the memory usage of programs that use Linked-Lists and
                Trees
            </li>
            <li class="objective">
                <b>Tracing Quiz 3 - Object-Oriented Programming (OOP)</b>: Trace the memory usage of programs that use
                inheritance and polymorphism
            </li>
        </ol>


        <hr/>
        <h5>Explain Concepts / Lab Interviews</h5>

        <p>
            There are 3 Interview Topics that will take place in lab that will assess your completion of learning
            objectives. All three interview topics will occur in a single lab near the end of the semester. During
            interviews,
            a TA will ask you a variety of questions related
            to the concept being assessed. To pass an interview, you must demonstrate that you can competently explain
            these concepts on a technical level. Simple regurgitating memorized definitions will not earn credit on
            these interviews. You should be able to have a conversation with another human about the concepts which is
            what the interviews simulate. A pass on the interview will be worth 50 points.
        </p>

        <p>
            Your interviewing TA does not make decisions for learning objective completion. Your interviewing TA
            will record your answers during the interview which will be reviewed by a separate grading team. Do not
            pressure your interviewing TA into marking you for completion
        </p>


        <ol class="objective">
            <li class="objective">
                <b>Interview Topic 1 - Classes</b>: Explain the concepts of classes, objects, references, heap memory,
                and how
                they affect the programs we write
            </li>
            <li class="objective">
                <b>Interview Topic 2 - Data Structures</b>: Describe the structures of linked-lists, binary trees,
                stacks,
                queues, binary search trees, and algorithms to work with their data
            </li>
            <li class="objective">
                <b>Interview Topic 3 - Object-Oriented Programming (OOP)</b>: Explain the concepts of inheritance and
                polymorphism and how they can help us as we write large pieces of software
            </li>
        </ol>


        <hr/>
        <h5>Write Code / Lab Coding Quizzes</h5>

        <p>
            There are 3 Coding Quizzes that will take place in lab that will assess your ability to recall the
            programing
            aspects of the learning objectives in a closed environment. For these quizzes you will be given a small
            programming task,
            and you will write code to
            complete the task in a timed environment without access to any outside material. You will use IntelliJ
            to write your code and will have unlimited submissions to AutoLab within the lab time. Each quiz is out of
            100
            points and a score of 50 is required in order to demonstrate the minimum understanding of the learning
            objective
            being tested.
        </p>

        <p>
            These quizzes are completed in an exam environment. Accessing anything other than the quiz material in
            IntelliJ or AutoLab is an academic integrity violation.
        </p>

        <ol class="objective">
            <li class="objective">
                <b>Coding Quiz 1 - Classes</b>: Write programs that include classes, create objects, modify objects
                on the heap, and pass objects by reference
            </li>
            <li class="objective">
                <b>Coding Quiz 2 - Data Structures</b>: Write programs that use linked-lists and binary trees
            </li>
            <li class="objective">
                <b>Coding Quiz 3 - Object-Oriented Programming (OOP)</b>: Write programs that use
                inheritance
            </li>
        </ol>


        <hr/>
        <h5>Write Large Programs / Take Home Coding Tasks</h5>

        <p>
            There are 5 Coding Tasks that you'll complete outside of class time that will assess your completion of
            learning objectives. These tasks are where students spend most of their
            time working on CSE116. Through these tasks, you will gain hands-on experience applying the concepts of
            the course to a large project. All 5 coding tasks build on each other as you work on a project throughout
            the semester. Each coding task is out of 100 points and a minimum score of 50 is required for each in order
            to pass the class. The first 50 points for each task demonstrate all aspects of the learning objective and
            must
            be earned before the second 50 points for the assignment unlock.
        </p>



        <ol class="objective">
            <li class="objective">
                <b>Coding Task 0 - Java Basics</b>: Apply basic programming concepts using Java
            </li>
            <li class="objective">
                <b>Coding Task 1 - Unit Testing + Classes</b>: Implement and use classes and write unit tests
            </li>
            <li class="objective">
                <b>Coding Task 2 - Linked-Lists + Inheritance</b>: Use linked-lists and inheritance in a large program
            </li>
            <li class="objective">
                <b>Coding Task 3 - Trees + Polymorphism</b>: Use trees and polymorphism in a large program
            </li>
            <li class="objective">
                <b>Coding Task 4 - Graphs</b>: Use graphs in a large program
            </li>
        </ol>


    </div>
</div>
<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Points</h3>
        <p class="card-text">
            Point breakdown of all graded aspects of the course. Green text represents learning objective parts of the
            course that must be met to pass.

        <table class="table table-bordered table-skinny">
            <thead>
            <tr>
                <th>Course Activity</th>
                <th>Learning Objective</th>
                <th>Comprehensive Understanding</th>
            </tr>
            </thead>
            <tr>
                <td>Tracing Quiz 0 - Java Basics</td>
                <td>0</td>
                <td>50</td>
            <tr>
            <tr>
                <td><span style="color: #00ff00">Tracing Quiz 1 - Classes</span></td>
                <td><span style="color: #00ff00">50</span></td>
                <td>50</td>
            <tr>
                <td><span style="color: #00ff00">Tracing Quiz 2 - Object-Oriented Programming (OOP)</span></td>
                <td><span style="color: #00ff00">50</span></td>
                <td>50</td>
            </tr>
            <tr>
                <td><span style="color: #00ff00">Tracing Quiz 3 - Data Structures</span></td>
                <td><span style="color: #00ff00">50</span></td>
                <td>50</td>
            </tr>
            <tr>
                <td><span style="color: #00ff00">Interview Topic 1 - Classes</span></td>
                <td><span style="color: #00ff00">50</span></td>
                <td>0</td>
            </tr>
            <tr>
                <td><span
                        style="color: #00ff00">Interview Topic 2 - Object-Oriented Programming (OOP)Data Structures</span>
                </td>
                <td><span style="color: #00ff00">50</span></td>
                <td>0</td>
            </tr>
            <tr>
                <td><span style="color: #00ff00">Interview Topic 3 - Data Structures</span></td>
                <td><span style="color: #00ff00">50</span></td>
                <td>0</td>
            </tr>
            <tr>
                <td>Coding Quiz 0 - Java Basics</td>
                <td>0</td>
                <td>50</td>
            </tr>
            <tr>
                <td><span style="color: #00ff00">Coding Quiz 1 - Classes</span></td>
                <td><span style="color: #00ff00">50</span></td>
                <td>50</td>
            </tr>
            <tr>
                <td><span style="color: #00ff00">Coding Quiz 2 - Object-Oriented Programming (OOP)</span></td>
                <td><span style="color: #00ff00">50</span></td>
                <td>50</td>
            </tr>
            <tr>
                <td><span style="color: #00ff00">Coding Quiz 3 - Data Structures</span></td>
                <td><span style="color: #00ff00">50</span></td>
                <td>50</td>
            </tr>
            <tr>
                <td><span style="color: #00ff00">Coding Task 0 - Java Basics</span></td>
                <td><span style="color: #00ff00">50</span></td>
                <td>50</td>
            </tr>
            <tr>
                <td><span style="color: #00ff00">Coding Task 1 - Unit Testing + Classes</span></td>
                <td><span style="color: #00ff00">50</span></td>
                <td>50</td>
            </tr>
            <tr>
                <td><span style="color: #00ff00">Coding Task 2 - Linked-Lists + Inheritance</span></td>
                <td><span style="color: #00ff00">50</span></td>
                <td>50</td>
            </tr>
            <tr>
                <td><span style="color: #00ff00">Coding Task 3 - Trees + Polymorphism</span></td>
                <td><span style="color: #00ff00">50</span></td>
                <td>50</td>
            </tr>
            <tr>
                <td><span style="color: #00ff00">Coding Task 4 - Graphs</span></td>
                <td><span style="color: #00ff00">50</span></td>
                <td>50</td>
            </tr>
            <tr>
                <td>Lab Activity 0</td>
                <td>0</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Lab Activity 1</td>
                <td>0</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Lab Activity 2</td>
                <td>0</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Lab Activity 3</td>
                <td>0</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Lecture Questions</td>
                <td>0</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Totals</td>
                <td><span style="color: #00ff00">700</span></td>
                <td>900</td>
            </tr>
            {#            <tr>#}
            {#                <td>Total</td>#}
            {#                <td></td>#}
            {#                <td>1550</td>#}
            {#            </tr>#}
        </table>

        <br/>

        <p>
            Coding Tasks: All coding tasks must be completed before their listed deadlines. If you do not complete a
            learning objective before its deadline, you can no longer complete that task, and you have failed the
            course. Start early so you never have to worry about this.
        </p>

        <p>
            Interviews: Interviews do not have a Comprehensive Understanding component, but 50 Learning Objective points will
            be awarded for demonstrating 50% understanding of the concept. Grading decisions will be made at the
            discretion of the course staff.
        </p>

        <p>
            Lecture Questions: There are 34 lecture questions throughout the semester which are multiple choice
            questions at the end of most lectures. Each question is worth 2 points with a maximum of 50 total points
            available, meaning that 9 questions will be dropped.

        </p>

        <br/>

        <table class="table table-bordered table-skinny">
            <thead>
            <tr>
                <th>Learning Objective Points</th>
                <th>Grade</th>
            </tr>
            </thead>
            <tr>
                <td>All 700 Learning Objective Points Earned (ie. >=50% of completion of critical assignments)
                </td>
                <td>Grade depends on the number of Comprehensive Understanding Points earned</td>
            </tr>
            <tr>
                <td>0-699 Learning Objective Points Earned (ie. Less than all Tracing Quizzes, all Interviews, all
                    Coding Quizzes, and all Coding Tasks over 50%
                    minimum understanding threshold)
                </td>
                <td>F</td>
            </tr>
        </table>

        <br/>

        <p>
            If you earned all learning objective minimums then your grade will be determined by
            your percentage of points earned during the semester. Your final letter grade will be
            determined as follows:
        </p>
        <br/>
        <table class="table table-bordered table-skinny">
            <thead>
            <tr>
                <th>Comprehensive Understanding Points</th>
                <th>Grade</th>
            </tr>
            </thead>
            <tr>
                <td>850 - 900</td>
                <td>A</td>
            </tr>
            <tr>
                <td>800 - 849</td>
                <td>A-</td>
            </tr>
            <tr>
                <td>750 - 799</td>
                <td>B+</td>
            </tr>
            <tr>
                <td>700 - 749</td>
                <td>B</td>
            </tr>
            <tr>
                <td>600 - 699</td>
                <td>B-</td>
            </tr>
            <tr>
                <td>500 - 599</td>
                <td>C+</td>
            </tr>
            <tr>
                <td>400 - 499</td>
                <td>C</td>
            </tr>
            <tr>
                <td>250 - 399</td>
                <td>C-</td>
            </tr>
            <tr>
                <td>100 - 249</td>
                <td>D</td>
            </tr>
            <tr>
                <td>0 - 99</td>
                <td>F</td>
            </tr>
        </table>


        <br/>

        <hr/>
        <h4>Logistics</h4>

        <p>
            All lab learning objectives are listed on the course schedule. All of these assessments list how to meet
            the
            50 point (50%) minimum score required in order to pass the course. Ideally, you will
            complete every objective during these labs. If you don't complete an objective this lab, you will have the
            following opportunities to prove that you have completed the objective:
        </p>

        <ul>
            <li>
                The 6 lab quizzes have "2nd chance" labs listed on the schedule. Each of these labs provide a 2nd
                chance to complete the specified tracing quiz and coding quiz. You may attempt any assessments listed
                on the schedule during these labs if needed, though you still must finish within the lab time regardless
                of how many assessments you are taking. If you've
                completed every
                assessment on your first attempt, there is no need to attend the 2nd chance labs
            </li>
            <li>
                For any of the 9 learning objectives assessed during lab (3 tracing quizzes + 3 coding quizzes + 3
                Interview Topics) that you do
                not complete 50% mastery after all lab opportunities, you will
                have a final attempt to prove that you've completed the learning objective on the final exam. The final
                attempt for these 9 lab learning objectives is the only purpose of the final exam. If you complete all
                9 of these objectives during the semester, you do not need to attend the final exam. The final exam
                will only
                give the opportunity to score the 50 points necessary to pass the course and not the full 100 points
                offered during the
                first and second attempts for the quizzes.
            </li>
            <li>
                Please note that this course follows a master-based structure where you must complete all learning
                objectives to
                a minimum level of understanding which is 50 points or 50% on each assignment. Multiple attempts are only
                offered due to this mastery-based approach to make sure you have ample chances to prove that you've
                filled in these gaps. <b>Please do not use the existence of multiple chance to blow off the first
                attempt.</b> Many
                students have failed this course by relying on the extra chances to skip labs or show up unprepared.
                <b>Please</b> do not do this. We like our students, but we do not want to see you in CSE116 next
                semester.
            </li>
        </ul>


        <br/>

    </div>
</div>


{#<div class="card border-dark mb-3">#}
{##}
{#    <div class="card-body">#}
{#        <h3 class="card-title">Grading</h3>#}
{#        <p class="card-text">#}
{##}
{##}
{#        <ul>#}
{#            <li>Coding Task Expected Deadlines x6#}
{#                <ul>#}
{#                    <li>#}
{#                        Each of the 6 coding tasks have 2 deadlines, the expected deadline and the final deadline. As#}
{#                        the#}
{#                        name implies, you are expected to complete every task before its expected deadline. With a#}
{#                        traditional course grading structure, this would be the only deadline. Since this courses#}
{#                        follows a#}
{#                        mastery-based structure (You are required to complete every learning objective), there is a#}
{#                        second#}
{#                        deadline that effectively gives you a 2-week extension so you still have a chance to pass the#}
{#                        class#}
{#                        even if you have to miss an expected deadline.#}
{#                    </li>#}
{#                    <li>#}
{#                        The second 50% of points are only available if you turn in each task by the expected deadline.#}
{#                    </li>#}
{#                </ul>#}
{#            </li>#}
{#            <li>Lab Learning Objective Assessments x9#}
{#                <ul>#}
{#                    <li>#}
{#                        You have 3 attempts to complete each of the 9 lab learning objectives (Tracing quiz 1-3,#}
{#                        interview#}
{#                        1-3, and coding quiz 1-3). The points (learning objective minimum 50% and comprehensive#}
{#                        understanding 50%)#}
{#                        are not cumulative and must all be earned within the same sitting. Once points are earned they#}
{#                        cannot be lost#}
{#                        even if none are earned on a second attempt.#}
{#                    </li>#}
{#                    <li>#}
{#                        Lab absence policy: For each of the 3 category (Tracing quiz, interview, coding quiz), you may#}
{#                        earn#}
{#                        all possible points during the 2nd chance lab. With this policy, if you#}
{#                        have to miss an assessment lab, there's no need to provide a doctor's or any other#}
{#                        documentation.#}
{#                        Stay home, stay safe, don't miss your siblings wedding. Whatever it is, you can miss any 1 lab#}
{#                        with#}
{#                        no repercussion and no questions asked. If you have to miss multiple labs, you will need to#}
{#                        provide#}
{#                        official documentation for all labs that you missed if you expect an exception#}
{#                    </li>#}
{#                </ul>#}
{#            </li>#}
{#            <li>Lab Activities x5#}
{#                <ul>#}
{#                    <li>#}
{#                        There are 6 lab activities on the lab schedule. Participating in a lab activity will earn you 1#}
{#                        effort point. One activity will be dropped (As part of the absence policy) for a maximum of 5#}
{#                        effort#}
{#                        points from activities. These are meant to be easy points to earn as long as you attend lab,#}
{#                        were#}
{#                        on time, and actively participated throughout the activity.#}
{#                    </li>#}
{#                </ul>#}
{#            </li>#}
{#            <li>Lecture Questions x2#}
{#                <ul>#}
{#                    <li>#}
{#                        Most lectures will include questions or activities to be completed during live lectures. These#}
{#                        will be simple#}
{#                        questions designed to encourage you to attend lecture and stay up to date on the material. Since#}
{#                        lectures will be recorded, there is a temptation to watch lecture days, or even weeks, after#}
{#                        they#}
{#                        occur. These questions are to serve as an incentive for you to attend lecture and avoid falling#}
{#                        behind in the course.#}
{#                    </li>#}
{#                    <li>#}
{#                        We will drop a total of 6 (2 weeks worth) lecture questions that were either not submitted or#}
{#                        submitted with an incorrect answer. You can use these 6 drops for any reason (Including illness,#}
{#                        travel, forgetting to submit you answer, or pressing the wrong button). If you have to miss more#}
{#                        than 2#}
{#                        full weeks of lecture and expect to be able to makeup more than 6 lecture questions, you must#}
{#                        provide official documentation stating that you were unable to attend lecture for more than 2#}
{#                        weeks.#}
{#                        Please note that a plane ticket is not official documentation.#}
{#                    </li>#}
{#                    <li>#}
{#                        Your score for lecture points will the 100 points multiplied by the percentage of correct#}
{#                        answers#}
{#                        given with 6 subtracted from the total number of lecture questions.#}
{#                    </li>#}
{#                </ul>#}
{#            </li>#}
{#        </ul>#}
{##}
{#    </div>#}
{#</div>#}


<div id="section3" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Readings</h3>
        <p>
            There is no textbook for this course. Instead, links to relevant readings and tutorials are provided
            in the course schedule. When a reading is listed you should study it before lecture.
        </p>
    </div>

</div>

<div id="section4" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">University/Department Policies and Services</h3>
        <ul>
            <li>Counseling: <a href="http://www.buffalo.edu/studentlife/who-we-are/departments/counseling.html">http://www.buffalo.edu/studentlife/who-we-are/departments/counseling.html</a>
            </li>
            <li>Accessibility: <a
                    href="http://www.buffalo.edu/studentlife/who-we-are/departments/accessibility.html">http://www.buffalo.edu/studentlife/who-we-are/departments/accessibility.html</a>
            </li>
            {#            <li>Grading: <a href="https://catalog.buffalo.edu/policies/explanation.html">https://catalog.buffalo.edu/policies/explanation.html</a>#}
            {#            </li>#}
        </ul>

    </div>

</div>

<div id="section5" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Academic Integrity</h3>
        <p class="card-text">
        <p>
            CSE Department Academic Integrity Policy: <br/><a
                href="https://engineering.buffalo.edu/computer-science-engineering/information-for-students/undergraduate-program/cse-undergraduate-academic-policies/cse-academic-integrity-policy.html">
            https://engineering.buffalo.edu/computer-science-engineering/information-for-students/undergraduate-program/cse-undergraduate-academic-policies/cse-academic-integrity-policy.html</a>
        </p>
        <p>
            UB Academic Integrity Policy: <br/><a
                href="https://catalogs.buffalo.edu/content.php?catoid=11&navoid=571#preamble">
            https://catalogs.buffalo.edu/content.php?catoid=11&navoid=571#preamble</a>
        </p>
        <p>
            In addition to the department and university policies, the following details apply to this course.
        </p>

        <p>
            All submitted work must be of your own creation, and you must not share your submission with anyone else. If
            any submission is very similar to code that has been submitted by another student,
            or can be found online, it is in violation of this course's academic integrity policy, and all students will
            be penalized whether they were copying or sharing their code with other students so they can copy. If two
            submissions are similar beyond what is likely if the students worked independently, then <b>both students
            are in violation</b> of the academic integrity policy.
        </p>
        <p>
            All violations will result in:
        </p>

        <div class="text-center alert alert-danger">
            <h3 style="color:red">An F in CSE116.</h3>
        </div>

        <p>
            It is your responsibility to understand what constitutes an academic integrity violation. If you have
            any question whether something you are doing is a violation or not, ask for
            clarification <b>before receiving an F in the course</b>. We will not entertain excuses after you
            have been caught.
        </p>
        <p>
            Examples of acceptable behavior:
        </p>
        <ul>
            <li>Discussing an assignment with your classmates and brainstorming <b>abstract</b> solutions, then writing
                the code independently
            </li>
            <li>Forming study groups and discussing course material and assignments on Discord, Zoom, etc.</li>
            <li>Searching the Internet for supplementary material on the course topics</li>
            <li>Asking the teaching staff for clarification on a homework question</li>
            <li>Having, or hiring, someone to help you <em>understand the concepts</em> of the course</li>
        </ul>

        <p>
            Examples of <b>un</b>acceptable behavior:
        </p>
        <ul>
            <li>Pressuring a TA to falsify an interview report.</li>
            <li>Submitting code, or other work, for course credit that is not your own.</li>
            <li>Collaborating with another student to write code for an assignment. (Do not sit next to your friend
                while you both work on the coding tasks)
            </li>
            <li>Using Artificial Intelligence to help you write code</li>
            <li>Allowing another student to see your code or submission for an assignment.</li>
            <li>Allowing another student to access your work that will be submitted for course credit. (Examples: Do not
                post you code publicly, host your code in a public repository, or allow a classmate to access your
                laptop)
            </li>
            <li>Having someone help you write code.</li>
            <li>Hiring someone to write code for you.</li>
            <li>Copying a large amount of material found on the Internet into your submission.</li>
            <li>Attempting to access the grading code on Autolab.</li>
            <li>Asking any of the course staff to falsify your grade (eg. Asking for any result that you did not
                rightfully earn).
            </li>
            <li>Submitting lecture questions without attending the entire lecture in person.</li>
        </ul>

        <p>
            Any student may be challenged by the course staff to prove that they did write any code they submitted for
            course credit. The method of proof can vary and is left for the course staff to decide. If the student fails
            to convince the course staff that they were the author of all the code they submitted for course
            credit, they will be found in violation of this academic integrity policy. Please note that if a student is
            in violation of any other part of this policy, it is still a violation even if you can prove that you were
            the author of your code (Ex. If you did write your code, but helped someone else cheat).
        </p>

        <p>
            If you plan on cheating, plan on taking this course again.
        </p>

    </div>

</div>
