<div class="card border-dark mb-3">


    <div class="card-body">
        <h3 class="card-title">Course Description</h3>

        <p class="card-text">
            You know the basics of programming: Expressions, variables, functions,
            control flow, data structures, and memory. With these concepts, you can train a computer
            to complete nearly any task you can imagine. The next step is to use these skills in more efficient ways to
            write better
            software.
        </p>

        <p>
            In this course, you will learn:
        </p>

        <ul>
            <li><b>Classes and Object-Oriented Programming (OOP)</b> - How to organize large projects</li>
            <li><b>Data Structures & Algorithms</b> - How to efficiently work with data</li>
            <li><b>Memory</b> - How a computer runs your software</li>
        </ul>

    </div>
</div>


<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Expectations</h3>
        <p class="card-text">
            This is not an easy course! To do well in this course you are expected to:
        </p>
        <ul>
            <li>Have a <b>strong</b> understanding of the basics of programming (Including expressions, variables, functions,
            control flow, data structures, and memory)
            </li>
            <li>Invest a minimum of <b>12 hours/week*</b> in CSE116 including at least 7 hours/week outside of class/lab
            </li>
        </ul>

        <p>
            * If you do not have a strong understanding of the basics of programming, you will need to spend much more than 
            12 hours/week in order to pass this course.
        </p>

    </div>

</div>


<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Learning Objective Checklist</h3>

        <p>
            There are 10 learning objectives that must be completed in order to pass the course. Learning the material assessed 
            by these objectives is the reason why someone would register for CSE116. This grading structure ensures that you 
            receive the educational value you deserve.
        </p>

        <ul class="lo-checklist">
            <li>Syllabus Quiz and CSE115 Final Exam</li>
            <li>Tracing Quiz 1 - Classes</li>
            <li>Tracing Quiz 2 - Object-Oriented Programming (OOP)</li>
            <li>Tracing Quiz 3 - Data Structures</li>
            <li>Coding Quiz 1 - Classes</li>
            <li>Coding Quiz 2 - Object-Oriented Programming (OOP)</li>
            <li>Coding Quiz 3 - Data Structures</li>
            <li>Interview 1 - Classes</li>
            <li>Interview 2 - Object-Oriented Programming (OOP)</li>
            <li>Interview 3 - Data Structures</li>
        </ul>

        <p>
            All 10 learning objectives will be graded on a pass/fail (or complete/incomplete) basis. If you complete 0-9 of
            these learning objectives, you will earn an F in this course. 
            You must check off all 10 objectives. Below is a brief explanation of each type of learning objective assessment.
        </p>

        <hr/>
        <h4>Syllabus Quiz and CSE115 Final Exam</h4>

        <p>
            We want to ensure that you have a firm understanding of the syllabus, and check how prepared you are 
            to begin this course. Your performance on the CSE115 final exam will not affect your grade, but you 
            must take it. Anyone who is unable to attend the exam will be given a makeup opportunity.
        </p>

        <hr/>
        <h4>Read Code / Tracing Quizzes</h4>

        <p>
            You need to be able to read before you can write. You will trace through everything that happens in stack and heap 
            memory as a given program executes. Tracing quizzes will take place in lab and will be completed using the tracing tool, 
            <a href="https://tracing.cse.buffalo.edu">UBPower</a>.
        </p>

        <ol class="objective">
            <li class="objective">
                <b>Tracing Quiz 1 - Classes</b>: Trace the memory usage of programs that use classes to create
                objects that are stored using references
            </li>
            <li class="objective">
                <b>Tracing Quiz 2 - Object-Oriented Programming (OOP)</b>: Trace the memory usage of programs that use
                inheritance and polymorphism
            </li>
            <li class="objective">
                <b>Tracing Quiz 3 - Data Structures</b>: Trace the memory usage of programs that use Linked-Lists and
                Trees
            </li>
        </ol>



        <hr/>
        <h4>Write Code / Lab Coding Quizzes</h4>

        <p>
            You will write a significant amount of code as take-home assignments. The coding quizzes will ensure that you 
            are capable of writing small programs in a timed environment without access to any resources. The intention is 
            for these quizzes to be very easy if you understand what you wrote for the take-home programming assignments.
        </p>

        <ol class="objective">
            <li class="objective">
                <b>Coding Quiz 1 - Classes</b>: Write programs that include classes, create objects, modify objects
                on the heap, and pass objects by reference
            </li>
            <li class="objective">
                <b>Coding Quiz 2 - Object-Oriented Programming (OOP)</b>: Write programs that use
                inheritance
            <li class="objective">
                <b>Coding Quiz 3 - Data Structures</b>: Write programs that use linked-lists and trees
            </li>
        </ol>

        <hr/>
        <h4>Explain Concepts / Lab Interviews</h4>

        <p>
            Communication is critical. The interviews will ensure that you are able to carry on a technical 
            conversation about the course topics.
        </p>

        <p>
            Your interviewing TA does not decide if you completed the learning objective. Your interviewing TA
            will transcribe the interview which will be reviewed by a separate grading team. Do not
            pressure your interviewing TA into marking you for completion.
        </p>

        <ol class="objective">
            <li class="objective">
                <b>Interview Topic 1 - Classes</b>: Explain the concepts of classes, objects, references, heap memory,
                and how
                they affect the programs we write
            </li>
            <li class="objective">
                <b>Interview Topic 2 - Object-Oriented Programming (OOP)</b>: Explain the concepts of inheritance and
                polymorphism and how they can help us as we write large pieces of software
            </li>
            <li class="objective">
                <b>Interview Topic 3 - Data Structures</b>: Describe the structures of linked-lists, binary trees,
                stacks,
                queues, binary search trees, graphs, as well as algorithms and their runtime
            </li>
        </ol>


        <br/>

        <hr/>
        <h4>Makeups and Final Exam</h4>

        <p>
            You will be given 3 opportunities to complete each of the 9 lab learning objectives (3 Tracing quizzes, 
            3 coding quizzes, and 3 interviews). Each has a lab and a makeup lab listed on the schedule below. If you do not 
            complete all 9 lab learning objectives in their first 2 attempts, you will have a third opportunity to complete 
            them on the final exam. Making up lab learning objectives is the only purpose of the final exam.
        </p>

        <p>Clarifications:</p>
        <ul>
            <li>
                If you have nothing to makeup, you do not have to attend the makeup lab. (eg. If you completed tracing quiz 1, 
                coding quiz 1, and interview 1 on the first attempt, there's no need for you to attend the makeup 1 lab. Go watch a movie 
                and relax instead)
            </li>

            <li>
                If you complete every learning objective after the first 2 attempts, you do not need to attend the final exam. 
                Go enjoy your break! You've earned it.
            </li>
            <li>
                There are 9 parts on the final exam corresponding to the 9 lab learning objectives. If you need to take the final exam, you 
                only need to complete the parts that you did not complete on the first 2 attempts.
            </li>
            <li>
                Multiple attempts are only
                offered due to this mastery-based approach to make sure you have ample chances to prove that you've
                filled in these gaps. <b>Please do not use the existence of multiple chances to blow off the first
                attempt.</b> Many
                students have failed this course by relying on the extra chances to skip labs or show up unprepared.
                <b>Please</b> do not do this. We like our students, but we do not want to see you in CSE116 next
                semester.
            </li>
        </ul>


        <br/>

    </div>
</div>
<div class="card border-dark mb-3">

    <div class="card-body">
        <h3 class="card-title">Points</h3>
        <p class="card-text">
            If you complete your learning objective checklist, your grade will depend on the number of points you've 
            earned.

        <table class="table table-bordered table-skinny">
            <thead>
            <tr>
                <th>Course Activity</th>
                <th>Points</th>
            </tr>
            </thead>
            <tr>
                <td>Lab Activities</td>
                <td>150</td>
            <tr>
            <tr>
                <td>Lecture Questions</td>
                <td>50</td>
            <tr>
            <tr>
                <td>5 Problem Sets (50 pts each)</td>
                <td>250</td>
            <tr>
            <tr>
                <td>5 Game Feature Assignments (100 points each)</td>
                <td>500</td>
            <tr>
            <tr>
                <td>State Pattern Assignment</td>
                <td>50</td>
            <tr>
            <tr>
                <td>Total</td>
                <td>1000</td>
            </tr>
        </table>


        <hr/>
        <h4>Lab Activities</h4>

        <p>
            Every activity in lab that is not a learning objective is considered to be a lab activity. 
            This includes the quizzes and interview 0 which will cover java basics and serve as practice
            for these types of assessment. Several lab activities will give you a chance to build simple 
            circuits and are labeled as hardware activities on the schedule.
        </p>

        <p>
            There are 7 activities worth 25 points each. Your total amount of lab activity points is capped at 150 
            to allow for one missed, or poorly performed, lab without consequence.
        </p>

        <p>
            Note that some labs contain both a learning objective assessment and an activity.
        </p>

        <hr/>
        <h4>Lecture Questions</h4>

        <p>
            Most lectures will contain a TopHat question worth 2 points (1 point for participation and 1 
            point for correctness). Your total lecture question points are capped at 50 and there 
            will be many more than 50 points available allowing for mistakes, login issues, sickness, etc 
            without consequence.
        </p>

        <hr/>
        <h4>Problem Sets and Game Features</h4>

        <p>
            Problem sets and game features are take-home programming assignments that are submitted to 
            AutoLab. You have an unlimited number of submissions on these assignments. All deadlines are
            listed on the course schedule below.
        </p>

        <p>
            Problem sets will contain a variety of small programming problems, while game features will have you 
            adding features to a large provided code base. Game features will give you practice working with a 
            large complex codebase. Being able to work on a large project like this is the primary goal of the course
            and the problem sets are intended to ease you into such a task.
        </p>

        <p>
            Late Policy: You may submit any problem set or game feature assignment late at a penalty of 
            10% per day late. Note that whether you are 5 minutes or 23 hours late, it is still 
            considered 1 day late. If the deadline is February 6 and you submit at any time on February 8, 
            it is considered 2 days late for a penalty of 20% off your earned points.
        </p>

        <p>
            Some of the game features assignments will build on each other. It is not recommended to skip any of the 
            game feature assignments. Use the late policy if you are struggling, but don't skip an entire assignment 
            since you might still have to complete it as you start the next assignment.
        </p>

        <hr/>
        <h4>Grading</h4>

        <p>
            You must complete all 10 learning objectives to pass this class. Here's a chart to make that abundantly clear:
        </p>

        <table class="table table-bordered table-skinny">
            <thead>
            <tr>
                <th>Learning Objectives Complete</th>
                <th>Grade</th>
            </tr>
            </thead>
            <tr>
                <td>10</td>
                <td>Grade depends on the number of points earned</td>
            </tr>
            <tr>
                <td>0-9</td>
                <td>F</td>
            </tr>
        </table>
<br>
        <p>
            If you complete all 10 learning objectives:
        </p>

        <table class="table table-bordered table-skinny">
            <thead>
            <tr>
                <th>Points</th>
                <th>Grade</th>
            </tr>
            </thead>
            <tr>
                <td>925 - 1000</td>
                <td>A</td>
            </tr>
            <tr>
                <td>900 - 924</td>
                <td>A-</td>
            </tr>
            <tr>
                <td>875 - 899</td>
                <td>B+</td>
            </tr>
            <tr>
                <td>850 - 874</td>
                <td>B</td>
            </tr>
            <tr>
                <td>825 - 849</td>
                <td>B-</td>
            </tr>
            <tr>
                <td>800 - 824</td>
                <td>C+</td>
            </tr>
            <tr>
                <td>750 - 799</td>
                <td>C</td>
            </tr>
            <tr>
                <td>700 - 749</td>
                <td>C-</td>
            </tr>
            <tr>
                <td>650 - 699</td>
                <td>D</td>
            </tr>
            <tr>
                <td>0 - 649 -or- &lt;10 LOs</td>
                <td>F</td>
            </tr>
        </table>


        <br/>


    </div>
</div>



<div id="section3" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Readings</h3>
        <p>
            There is no textbook for this course. Instead, links to relevant readings and tutorials are provided
            in the course schedule. When a reading is listed, you should study it before lecture.
        </p>
    </div>

</div>

<div id="section4" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">University/Department Policies and Services</h3>
        <ul>
            <li>Counseling: <a href="https://www.buffalo.edu/studentlife/who-we-are/departments/counseling.html">https://www.buffalo.edu/studentlife/who-we-are/departments/counseling.html</a>
            </li>
            <li>Accessibility: <a
                    href="https://www.buffalo.edu/studentlife/who-we-are/departments/accessibility.html">https://www.buffalo.edu/studentlife/who-we-are/departments/accessibility.html</a>
            </li>
        </ul>

    </div>

</div>

<div id="section5" class="section-marker"></div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <h3 class="card-title">Academic Integrity</h3>
        <p class="card-text">
        <p>
            <a
                href="https://engineering.buffalo.edu/computer-science-engineering/information-for-students/undergraduate-program/cse-undergraduate-academic-policies/cse-academic-integrity-policy.html">
            CSE Department Academic Integrity Policy</a>
        </p>
        <p>
            <a
                href="https://catalogs.buffalo.edu/content.php?catoid=11&navoid=571#preamble">
            UB Academic Integrity Policy</a>
        </p>
        <p>
            In addition to the department and university policies, the following apply to this course:
        </p>

        <ol>
            <li>All submitted work must be of your own creation.</li>
            <li>Do not help another student violate point 1.</li>
        </ol>

        <p>
            All violations will result in:
        </p>

        <div class="text-center alert alert-danger">
            <h3>An F in CSE116.</h3>
        </div>

        <p>
            Examples of acceptable behavior:
        </p>
        <ul>
            <li>Discussing an assignment with your classmates and brainstorming <b>abstract</b> solutions, then writing
                the code on your own
            </li>
            <li>Forming study groups and discussing course material and assignments on Discord, Zoom, etc.</li>
            <li>Studying from supplementary material to <em>improve your understanding</em> of the course topics</li>
            <li>Asking the teaching staff for clarification on a homework question</li>
            <li>Having, or hiring, someone to help you <em>understand the concepts</em> of the course</li>
            <li>Copying code from courses examples repo, linked at the top of this page, into your assignments</li>
        </ul>

        <p>
            Examples of <b>un</b>acceptable behavior:
        </p>
        <ul>
            <li>Using Artificial Intelligence to help you write code (The code is not your own creation).</li>
            <li>Using autocorrect or autocomplete <em>without</em> understanding exactly what the code does (The code is not your own creation).</li>
            <li>Collaborating with another student to write code for an assignment. (Do not sit next to your friend
                while you both work on the coding tasks)
            </li>
            <li>Allowing another student to see your code or submission for an assignment.</li>
            <li>Allowing another student to access your work that will be submitted for course credit. (Examples: Do not
                post you code publicly, host your code in a public repository, or allow a classmate to access your
                laptop)
            </li>
            <li>Having someone help you write code. I don't care if you typed the code when someone else is telling you what to type</li>
            <li>Copying a large amount of material found on the Internet into your submission.</li>
            <li>Copying any amount of code you found without knowing exactly what it does, even it's 1 character.</li>
            <li>Attempting to access the grading code on Autolab.</li>
            <li>Asking any of the course staff to falsify your grade (eg. Asking for any result that you did not
                rightfully earn).
            </li>
            <li>Submitting lecture questions without attending the entire lecture in person.</li>
            <li>Submitting code for credit without being able to explain how the code works and why you wrote it 
                the way you did (The code is not <em>your</em> creation if you can't).</li>
        </ul>

        <p>
            Any student may be challenged by the course staff at any time to prove that they did create the code they submitted for
            course credit. They must be able to explain their code and 
            walk through their thought process as they wrote the code. 
             The method of proof can vary and is left for the course staff to decide. If the student fails
            to convince the course staff that they created all the code they submitted for course
            credit, they will be found in violation of this academic integrity policy. Please note that if a student is
            in violation of any other part of this policy, it is still a violation even if they can prove that they were
            the creator of their code (Ex. If they did write their code, but helped someone else cheat).
        </p>

        <p>If challenged, the following excuses are not acceptable:</p>
        <ul>
            <li>"That assignment was 3 weeks ago. I forgot." (If you forgot everything in 3 weeks, you did not learn it)</li>
            <li>"I got that from the Internet." (You're clearly not the creator)</li>
            <li>"I didn't write that." (Yes, this is a common excuse. At least it makes the meeting easier..)</li>
            <li>"The TA told me to do that." (If they did, you still need to understand all code you submit)</li>
            <li>"I hired a tutor" (You hired a cheater)</li>
        </ul>

        <p>
            If you plan on cheating, plan on taking this course again.
        </p>

    </div>

</div>
