{% extends 'hw/hw.html' %}

{% block title %}CSE116: Game Features 2{% endblock %}

{% block header %}
<h1>Game Features 2</h1>
<h5>Linked Lists and Inheritance</h5>
<hr />
{% endblock %}

{% block task %}

{% call task_card("Overview") %}
<hr />
<h3>Coding Task 2 Overview</h3>
<hr />

<p>
    Game Features 2 assesses Linked Lists and Inheritance. You will continue to build functionality for the Game Engine in this component of the task.
    This will be done on top of the code written for the previous tasks; you should not reclone or remove said code for this task or any future
    Game Features tasks.
</p>
<p>
    There are three sections listed in the handout for convenience. Future Game Features tasks may expect some or all of these sections to be fully completed.
</p>

<p>
    We have provided some tests for the <code>PhysicsEngineWithGravity</code> and <code>LevelParser</code> classes.
    They can be accessed at this link: <a href="/static_files/files/TestTask2.java">TestTask2.java</a>. You can open this link in a
    new tab to copy and paste the content into your project, or right click and select "save link as", then download the
    file to the correct location within the project. The correct location is in the same directory as the previous two given test files,
    the <code>test/java/tests/</code> package.
</p>

{% endcall %}

{% call task_card("LinearGame") %}
<hr />
<h3>Overview</h3>
<hr />

<p>For this portion, you will be writing code in the <code>app.gameengine.LinearGame</code> class, which already exists.</p>

<br />
<hr />
<h3>Specification</h3>
<hr />

<p>
    Many of the methods in this task will make use of the <code>LinkedListNode</code> class, found at
    <code>app.gameengine.model.datastructures</code>. You are required to use this class. It is identical to the
    <code>LinkedListNode</code> class used in the Problem Set.
</p>
<p>
    For this portion of the task, you will implement the following
    functionality:
</p>
<ul>
    <li>
        Implement the following methods in the <code>LinearGame</code> class. This class represents a <code>Game</code>
        with a linear sequence of levels that are typically only traveled through in order from start to finish. For
        example, the <code>MarioGame</code> class extends the <code>LinearGame</code> class, and uses these methods.
        <ul>
            <li>
                <code>getLevelList</code>
                <ul>
                    <li>
                        Create a method named <code>getLevelList</code> which takes no parameters and returns a
                        <code>LinkedListNode</code> of <code>Level</code>s. It should return the head of the game's list
                        of levels.
                    </li>
                    <li>
                        If no levels have been added, this method should return <code>null</code>.
                    </li>
                </ul>
            </li>
            <li>
                <code>setLevelList</code>
                <ul>
                    <li>
                        Create a method named <code>setLevelList</code> which takes a <code>LinkedListNode</code> of
                        <code>Level</code>s as an argument and returns <code>void</code>. It should replace this game's
                        list of
                        levels with the input value.
                    </li>
                </ul>
            </li>
            <li>
                <code>addLevel</code>
                <ul>
                    <li>
                        Create a method named <code>addLevel</code> which takes a <code>Level</code> object as an
                        argument and returns <code>void</code>. This method should append the input <code>Level</code>
                        to the end of
                        this game's list of levels.
                    </li>
                </ul>
            </li>
            <li>Note: all together, <code>getLevelList</code>, <code>setLevelList</code>, and <code>addLevel</code> are worth 10 points.</li>
            <li>
                <code>advanceLevel</code> (10 points)
                <ul>
                    <li>
                        Create a method named <code>advanceLevel</code> which takes no parameters and returns
                        <code>void</code>. When
                        this method is called, it should find the current level within the list of levels, and call
                        <code>this.loadLevel</code> on the next level in the list.
                    </li>
                    <li>
                        You should use the <code>getCurrentLevel</code> method to access the current level. If the
                        current level is not in the level list, including when the list is empty, this method should
                        not do anything.
                    </li>
                    <li>
                        You should use the <code>getName</code> method on each level object to determine if it is the
                        current level (ie. if the names are equal). This method may assume that there will not be
                        multiple levels with the same name in the list.
                    </li>
                    <li>
                        If the game is already on the last level, this method should do nothing. You should never call
                        <code>loadLevel</code> with an argument of <code>null</code>.
                    </li>
                </ul>
            </li>
            <li>
                <code>removeLevelByName</code> (10 points)
                <ul>
                    <li>
                        Create a method named <code>removeLevelByName</code> which takes a <code>String</code> and
                        returns <code>void</code>. It should remove the first level in the list which has the same name
                        as the input
                        <code>String</code>.
                    </li>
                    <li>
                        If multiple <code>Level</code>s in the list exist with this name, only the first should be
                        removed.
                    </li>
                    <li>
                        You should use the <code>getName</code> method on each level object to determine if its name is
                        the same as the input <code>String</code>.
                    </li>
                </ul>
            </li>
            <li>
                Optional - <code>resetGame</code>
                <ul>
                    <li>
                        This method is <strong>entirely optional</strong>. Although it improves the quality of the game
                        somewhat, it will not be tested, and you do not need to complete it if you do not wish to.
                        Whether you complete it or not will not affect your submission or grading, as long as your code
                        still compiles.
                    </li>
                    <li>
                        There are several actions which can be taken within the game that reset a game to its initial
                        state, such as pressing "F2". To fully reset the game, each level in the linked list of levels
                        must be reset, and the current level must be set to the head of the list.
                    </li>
                    <li>
                        To reset a level, you can call the <code>reset</code> method on it.
                    </li>
                    <li>
                        To change the current level to the head of the list, you can access the instance variable
                        <code>this.currentLevel</code> directly, and set it to the desired value. Note that this
                        instance variable is of type <code>Level</code>, not <code>LinkedListNode</code>.
                    </li>
                    <li>
                        The head of the linked list should be the <em>last</em> to have <code>reset</code> called on it.
                        Otherwise, the player will start at the wrong location.
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<br />
<hr />
<h3>Testing</h3>
<hr />

<p>
    You are not given any tests for this portion. You are encouraged to write your own and test in game. Once you've
    completed the PhysicsEngineWithGravity portion of this assignment, you'll be able to verify if some of these methods are
    functioning properly by playing Mario.
</p>

<br />
<hr />
<h3>Programming Requirements</h3>
<hr />

<p>
    Implement the methods from the specification. You are encouraged to write tests before you begin your implementation
    and run them throughout your implementation.
</p>

<br />
<hr />
<h3>Autolab Feedback</h3>
<hr />

<p>
    Autolab will display the results of several features for this portion, and the number of points earned for each feature.
    Some methods may be split into multiple features; these methods have partial credit. Successful completion of this portion
    will earn you 30 points.
</p>
{% endcall %}

{% call task_card("PhysicsEngineWithGravity and Mario") %}
<hr />
<h3>Overview</h3>
<hr />

<p>For this portion, you will be writing code in the following classes which already exist:</p>
<ul>
    <li>
        <code>PhysicsEngineWithGravity</code>, located in the <code>app.gameengine.model.physics</code> package.
    </li>
    <li>
        <code>LevelParser</code>, located in the <code>app.gameengine</code> package.
    </li>
</ul>

<br />
<hr />
<h3>Specification</h3>
<hr />

<p>
    You should read through all the following sections before you begin to implement the methods from the specification.
    You must at least create every class/method from this specification to receive feedback on this section.
    You can "stub out" these methods by having them always return a fixed value, but they must exist so the grading code,
    and your tests, can compile and run.
</p>
<p>
    Many of the methods in this task will make use of the <code>LinkedListNode</code> class, found at
    <code>app.gameengine.model.datastructures</code>. You are required to use this class. It is identical to the
    <code>LinkedListNode</code> class used in the Problem Set.
</p>
<p>
    For this portion of the Game Features task, you will implement the following functionality:
</p>
<ul>
    <li>
        Implement the following methods in the <code>PhysicsEngineWithGravity</code> class. Notice that this class
        extends the <code>PhysicsEngine</code> class, and as such has access to all of the public methods from that
        class, including those that you wrote in the previous task.
        <ul>
            <li>The PhysicsEngine methods are all tested together and worth 25 points with no partial credit.</li>
            <li>
                Constructor
                <ul>
                    <li>
                        You do not need to create a new constructor, but you should modify the existing constructor
                        which takes a single <code>double</code> as a parameter and represents the amount of gravity.
                        You should create an instance variable to store the gravity, and assign it in the constructor.
                    </li>
                </ul>
            </li>
            <li>
                <code>getGravity</code>
                <ul>
                    <li>
                        Write a method named <code>getGravity</code> that takes no parameters and returns a
                        <code>double</code>. This method should return the gravity of this physics engine. Note that
                        this is different from the static variable "DEFAULT_GRAVITY". You should return the instance
                        variable that was described above.
                    </li>
                </ul>
            </li>
            <li>
                <code>setGravity</code>
                <ul>
                    <li>
                        Write a method named <code>setGravity</code> that takes a <code>double</code> and returns
                        <code>void</code>.
                        This method should set the gravity instance variable to the input value.
                    </li>
                </ul>
            </li>
            <li>
                <code>updateObject</code>
                <ul>
                    <li>
                        Write a method named <code>updateObject</code> which takes a <code>double</code> and a
                        <code>DynamicGameObject</code> and returns <code>void</code>. This method should override the
                        method of the
                        same name in the <code>PhysicsEngine</code> class.
                    </li>
                    <li>
                        This method should apply gravity to the passed in object, according to the change in time passed
                        in. You should add the change in velocity from gravity to the <code>DynamicGameObject</code>'s
                        y-velocity (note that change in velocity is equal to [acceleration from] gravity times the
                        change in time) (note also that the positive y direction is down).
                    </li>
                    <li>
                        Call the super class' <code>updateObject</code> method and pass in the parameters. Be sure to
                        call this <em>after</em> applying gravity, to make sure that velocity and position are
                        appropriately adjusted.
                    </li>
                    <li>
                        This method should only apply gravity to objects that are in the air. This is because when an
                        object is on the ground, applying gravity would only cause it to clip into the ground, and make
                        movement more difficult. To determine if an object is in the air or on the ground, you can use
                        the <code>isOnGround</code> method on the <code>DynamciGameObject</code> from the parameter,
                        which returns true if the object is on the ground, and false otherwise.
                    </li>
                    <li>
                        This method should not apply gravity to the object if that object is the player. This is because
                        the player's gravity is handled separately, within the controls, and we do not want to apply it
                        twice. To determine if an object is the player, you can use the <code>isPlayer</code>
                        method on the <code>DynamicGameObject</code> from the parameter, which returns true if the
                        object is the player, and false otherwise.
                    </li>
                </ul>
            </li>
            <li>
                With these few modifications, and the power of inheritance, you have just created gravity. Any game that
                uses a <code>PhysicsEngineWithGravity</code> object instead of a basic <code>PhysicsEngine</code> will
                now have gravity applied automatically. You can play Mario, as described above, to see the effects (as
                long as you have also made the required changes to the <code>LevelParser</code>).
            </li>
        </ul>
    </li>
    <li>
        Implement the following updates to the <code>LevelParser</code> class. These changes will allow the game engine
        to parse levels which contain objects for Mario.
        <ul>
            <li>The updates to <code>LevelParser</code> are worth 5 points all together with no partial credit.</li>
            <li>
                <code>readDynamicObject</code>
                <ul>
                    <li>
                        The existing structure of this method uses a switch-case statement. A switch-case statement is
                        much like an if statement, where it checks if the expression after the keyword "switch" is equal
                        to each value after "case". The first case that is equal is entered, and the code inside is
                        performed. You may modify this method to use a series of if-else statements if you prefer, but
                        it will likely be easier to extend the existing switch-case structure.
                    </li>
                    <li>
                        Add a case for <code>Goomba</code> objects. If the string being checked is exactly "Goomba", a
                        new <code>Goomba</code> object should be returned. The <code>Goomba</code> constructor takes
                        only two <code>double</code>s, which should be the variables <code>x</code> and <code>y</code>
                        which already exist in this method.
                    </li>
                    <li>
                        Add a case for <code>Koopa</code> objects. If the string being checked is exactly "Koopa", a new
                        <code>Koopa</code> object should be returned. The <code>Koopa</code> constructor takes only two
                        <code>double</code>s, which should be the variables <code>x</code> and <code>y</code>
                        which already exist in this method.
                    </li>
                </ul>
            </li>
            <li>
                <code>readStaticObject</code>
                <ul>
                    <li>
                        As with <code>readDynamicObject</code>, this method uses a switch-case statement.
                    </li>
                    <li>
                        Add a case for <code>Block</code> objects. If the string being checked is "Block", "Bricks", or
                        "Ground", a new <code>Block</code> object should be returned. The <code>Block</code> constructor
                        takes two <code>double</code>s and a <code>String</code>. The <code>double</code>s should be the
                        variables <code>x</code> and <code>y</code> which already exist in this method. The
                        <code>String</code> should be the same as the <code>String</code> being checked. For example, if
                        the <code>String</code> is "Bricks", "Bricks" should be passed into the constructor.
                    </li>
                    <li>
                        Add a case each of the following objects: <code>QuestionBlock</code>, <code>HiddenBlock</code>,
                        <code>PipeEnd</code>, <code>PipeStem</code>. For each of these objects, the <code>String</code>
                        should exactly match the class name (eg. "QuestionBlock" or "PipeStem"), and the only
                        constructor parameters are two <code>double</code>s, which should be the variables
                        <code>x</code> and <code>y</code> which already exist in this method.
                    </li>
                    <li>
                        Add a case for <code>Flag</code> objects. If the string being checked is exactly "Flag", a new
                        <code>Flag</code> object should be returned. The <code>Flag</code> constructor takes two
                        <code>double</code>s and a <code>Game</code>, which should be the variables <code>x</code>,
                        <code>y</code>, and <code>game</code> which already exist in this method.
                    </li>
                </ul>
            </li>
            <li>
                <code>parseLevel</code>
                <ul>
                    <li>
                        Modify this method to return either a <code>TopDownLevel</code> or a <code>MarioLevel</code>
                        depending on the content of the csv file being read.
                    </li>
                    <li>
                        The level type can be determined from the first field in the first line of the level file. If
                        that field is exactly "TopDownLevel", then the level you create, modify, and return should be a
                        <code>TopDownLevel</code> object. If that field is "MarioLevel", it should be a
                        <code>MarioLevel</code> object instead.
                    </li>
                </ul>
            </li>
            <li>
                Your <code>LevelParser</code> should still be capable of reading and parsing all previously assessed
                levels. However, now it can also create levels for Mario with the appropriate objects.
            </li>
        </ul>
    </li>
</ul>

<br />
<hr />
<h3>Testing</h3>
<hr />

<p>
    You are given tests for this portion. See the "Overview" section for more details on how to get these tests.
</p>

<br />
<hr />
<h3>Programming Requirements</h3>
<hr />

<p>
    Implement the methods from the specification. You are encouraged to run the provided tests and game throughout your
    implementation.
</p>

<br />
<hr />
<h3>Autolab Feedback</h3>
<hr />

<p>
    Autolab will display the results of several features for this portion, and the number of points earned for each feature.
    Some methods may be split into multiple features; these methods have partial credit. Successful completion of this portion
    will earn you 30 points.
</p>
{% endcall %}

{% call task_card("Pathfinding") %}
<hr />
<h3>Overview</h3>
<hr />

<p>
    For this portion of this task, you will be implementing functionality in the
    <code>Agent</code> class (from the <code>app.gameengine.model.gameobjects</code> package) and the
    <code>PathfindingUtils</code> class (that you should create in the <code>app.gameengine.utils</code> package) such
    that enemies have somewhat functional pathfinding. This will be most obvious in the Sample Game, which you can
    access by changing the <code>GAME</code> constant in <code>app.Configuration</code> to
    <code>"Sample Game"</code>.
</p>
<p>
    Each of the methods you implement will have an associated point count that you will earn upon passing our tests for
    that method. Partially implemented methods may result in some partial credit being earned, depending on the method.
</p>
<hr />
<h3>Programming Requirements</h3>
<hr />
<ul>
    <li>
        <code>findPath</code> (20 points)
        <ul>
            <li>
                Create a class in the <code>app.gameengine.utils</code> package named <code>PathfindingUtils</code>. In
                this class, implement the following <em><strong>static</strong></em> method:
            </li>
            <li>
                In the <code>PathfindingUtils</code> class, write a <strong>static</strong> method named
                <code>findPath</code> that takes in two Vector2D objects as parameters and returns a
                <code>LinkedListNode</code> of <code>Vector2D</code>s.
            </li>
            <li>
                This method should return a shortest valid path that travels from the <strong>tile containing</strong>
                the first <code>Vector2D</code> object to the <strong>tile containing</strong> the second
                <code>Vector2D</code> object.
                <ul>
                    <li>
                        To compute the tile containing a vector, you can take the floor of each coordinate in
                        the vector. Recall that locations for rectangles are the location of their upper-left
                        corner.
                    </li>
                    <li>The vector (3.9, 4.6) is contained on the tile at location (3.0, 4.0)</li>
                    <li>
                        The input <code>Vector2D</code>s themselves should not be modified. You should instead
                        create copies of them to modify. There are several ways to do this, such as: create a
                        new <code>Vector2D</code> using the constructor, with the desired x and y components;
                        use the <code>Vector2D.copy</code> method, and modify the returned vector; use the
                        <em>static</em> <code>Vector2D.floor</code> method, which returns a new vector with
                        floored components.
                    </li>
                </ul>
            </li>
            <li>
                A path is valid if each <code>Vector2D</code> object after the head of the list is one tile above,
                below, to the left, or to the right of the previous one AND if each Vector2D object in the list is
                aligned to a tile (i.e. no decimals). Considered the following paths attempting to travel from eg. (3.9,
                4.6) to (5.2, 5.999)
                <ul>
                    <li>[(3.0, 4.0), (3.0, 5.0), (4.0, 5.0), (5.0, 5.0)] is valid.</li>
                    <li>
                        [(3.0, 4.0), (3.0, 5.0), (5.0, 5.0)] is not valid as the third Vector2D is two tiles right of
                        the second.
                    </li>
                    <li>
                        [(3.0, 4.0), (4.0, 5.0), (5.0, 5.0)] is not valid as the second Vector2D is diagonal to the
                        first one.
                    </li>
                    <li>
                        [(3.9, 4.6), (3.1, 5.9), (4.6, 5.5), (5.2, 5.999)] is not valid as it is not aligned to a tile.
                    </li>
                </ul>
            </li>
            <li>
                You may find it helpful to review the overview of the coordinate system in the task 1 handout.
            </li>
            <li>
                Note that there are many correct solutions for this method since there are multiple valid paths that all
                of minimal length (unless the start and end share a coordinate). For example, traveling from (0, 0) to
                (1, 1) both [(0.0, 0.0), (0.0, 1.0), (1.0, 1.0)] and [(0.0, 0.0), (1.0, 0.0), (1.0, 1.0)] are correct
                solutions. Any valid path will be accepted by our test cases.
            </li>
        </ul>
    </li>
</ul>
<ul>
    <li>
        <code>followPath</code> (20 points)
        <ul>
            <li>
                In the <code>Agent</code> class, there exists a method named <code>followPath</code> that takes a
                <code>double</code> and returns <code>void</code>. The input double represents the change in time since
                the last
                time this method was called. Complete this method so that the agent along its path if it has one.
            </li>
            <li>
                This class already contains an instance variable representing this object's path, called
                <code>path</code>, as well as a getter and setter for that instance variable, named <code>getPath</code>
                and <code>setPath</code> respectively. You will need to use these to complete this method.
            </li>
            <li>
                In each update call, only one of these three things can happen. If one of these conditions is met, in
                this order, it should be done, and then nothing else should be done.
                <ol>
                    <li>
                        <b>Idle</b>: If the <code>Agent</code>'s path instance variable is <code>null</code>, their
                        velocity in the x and y directions should be set to 0, and nothing else should be done.
                    </li>
                    <li>
                        <b>Advance to the next node in the path</b>: If the <code>Agent</code> is directly on the tile
                        at the path's head, the <code>Agent</code>'s position is manually set to the location of that
                        tile. The head of the list is then removed from the list so the agent will travel to the next
                        node the next time this method is called.
                        <ul>
                            <li>
                                An enemy is considered to be "directly on" a tile if its distance from the tile is less
                                than its movement speed times the change in time since the last update. The movement
                                speed can be accessed by calling <code>this.getMovementSpeed</code>, or with the
                                <code>movementSpeed</code> instance variable, both of which already exist in this class.
                                The change in time is the parameter <code>dt</code>.
                            </li>
                            <li>
                                Use Euclidean distance for this calculation, which is calculated as the square root of
                                the sum of the squares of differences in each dimension. It is calculated as
                                <code>√((x<sub>1</sub>-x<sub>2</sub>)<sup>2</sup> + (y<sub>1</sub>-y<sub>2</sub>)<sup>2</sup>)</code>.
                                You may use the <code>Vector2D.euclideanDistance</code> method, which calculates this
                                for you.
                            </li>
                            <li>
                                You must also set the agent's velocity in the x and y directions to 0.
                            </li>
                            <li>
                                These steps are necessary to prevent enemies from getting caught at the edges of
                                hitboxes.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <b>Travel along the path</b>: If neither of the 2 previous conditions apply, the
                        <code>Agent</code>'s velocity should be set to move towards the tile at the head of the
                        <code>Agent</code>'s path.
                        <ul>
                            <li>
                                The <code>Agent</code>'s velocity must have a magnitude (speed) equal to its movement
                                speed. The movement speed can be accessed by calling <code>this.getMovementSpeed</code>,
                                or with the <code>movementSpeed</code> instance variable, both of which already exist in
                                this class.
                            </li>
                            <li>
                                The <code>Agent</code>'s orientation should be set in the same direction as its
                                velocity, but always with a magnitude of 1.0.
                            </li>
                            <li>
                                Since the <code>Agent</code> can only move in four directions, only one component (x or
                                y) of a moving <code>Agent</code>'s velocity or orientation will be non-zero at any
                                point. This means there are only 4 possible values for the <code>Agent</code>'s
                                orientation, (1.0, 0.0), (0.0, 1.0), (-1.0, 0.0), or (0.0, -1.0). Velocity is much the
                                same, except that the magnitude will depend on the movement speed.
                            </li>
                            <li>
                                For example, if an <code>Agent</code> is located at (2.5, 2), has a movement speed of 4,
                                and its path is [(3, 2), (4, 2), (4, 3)], it must first target the point (3, 2). To
                                reach that point, it must travel in the positive x direction, so its velocity would be
                                set to (4, 0), and its orientation would be set to (1, 0).
                            </li>
                        </ul>
                    </li>
                </ol>
            </li>
        </ul>
    </li>
</ul>
<ul>
    <li>
        These two methods comprise this portion of this assignment. However, you will not yet
        be able to see these changes in-game. This is intentional, as the next two tasks add a modular behavior system
        that can make use of this pathfinding. However, if you want to see this behavior in game early, you can do the
        following:
        <ol>
            <li>
                In the <code>Agent.update</code> method, add code that checks if the path instance variable is <code>null</code>. If
                so, call the <code>findPath</code> method, where the start is the location of the <code>Agent</code>,
                and the end is the location of the <code>Player</code> (obtained with
                <code>level.getPlayer().getLocation()</code>), and call <code>setPath</code> with the returned path.
            </li>
            <li>
                In the <code>Agent.update</code> method, if the path is not <code>null</code>, call the
                <code>followPath</code> method, passing in <code>dt</code> as the change in time.
            </li>
            <li>
                When completing Task 3, you will have to modify the <code>Agent.update</code> method in a different way.
                Those changes should replace these ones.
            </li>
        </ol>
    </li>
    <li>
        Additionally, you can just include the first part which sets a path obtained from calling findPath, and press
        F5 in game to see the path on screen. There are a variety of other debug controls you may find helpful which can
        be seen by pressing "Q." More information on these can be found in the readme.
    </li>
</ul>

<br/>
<hr/>
<h3>Testing</h3>
<hr/>
<p>
    You are not given tests for these methods. You are encouraged to use one of the previously discussed ways to show
    paths in-game, as well as writing tests and running the debugger, to verify the correctness of your solution.
</p>

<br/>
<hr />
<h3>Autolab Feedback</h3>
<hr />
<p>
    Autolab will display the results of several features for this portion, and the number of points earned for each feature.
    Some methods may be split into multiple features; these methods have partial credit. Successful completion of this portion
    will earn you 40 points.
</p>
{% endcall %}
{% endblock %}
