{% extends 'hw/hw.html' %}
{% block title %}CSE116: Problem Set 1{% endblock %}
{% block header %}
<h1>Problem Set 1: Classes</h1>
{% endblock %}


{% block task %}

{% call task_card("Problem Set") %}

<p>
    Problem Set GitHub Repository link:
    <a href="https://github.com/CSE-116/ProblemSet-1">https://github.com/CSE-116/ProblemSet-1</a>
</p>

<p>
    To submit your project, run <code>problem.Zipper</code>, which will create a zip file containing the problem set,
    and submit it to Autolab. Be sure every class and method exists before submitting to avoid Autolab errors, even if you 
    did not complete all the methods yet.
</p>

<hr />
<h3>Testing</h3>
<hr />

<p>
    This problem set does not require you to write any tests. tests.TestProblemSet1 contains tests for some of the methods that you can use to
    verify the correctness of your code. Note that not all methods have tests written for them. You are encouraged to follow the structure of these tests 
    to write your own tests for the remaining methods. This is not required, but might save you time since you wouldn't have to submit to Atuolab to see if 
    your code is correct.
</p>
<p>
    You can run these tests just like a Java file with a main method (Right-click the file and choose run) and you
    will see feedback about which test cases you've passed/failed.
</p>
<p>
    Some of these tests may have been commented out so that the problem set will compile. You can uncomment the tests as
    you get to these methods. You can highlight multiple lines and press control+/ (command+/ on mac) to quickly
    comment multiple lines in/out
</p>

<br />
<hr />
<h3>Specification</h3>
<hr />

<p>
    Note that you must at least create
    every class/method from this specification to receive feedback. You can "stub out" these methods by having them
    always return a fixed value, but they must exist so the grading code, and your tests, can compile and run.
</p>
<p>
    For this Problem Set, you will implement the following functionality. Note that all of the methods are
    <strong>public</strong> and <em><strong>non-static</strong></em>.
</p>
<ul>
    <li>
        <code>Location</code> (5 points): Create a class in the <code>problem</code> package named <code>Location</code>. This
        class will represent a 2-dimensional point that will be used as the location of a shape. This class should implement the
        following methods:
        <ul>
            <li>
                Constructor: create a constructor which takes two <code>double</code>s representing the x and y
                location, respectively.
            </li>
            <li>
                <code>getX</code>: create a method named <code>getX</code> which takes no arguments and returns a
                <code>double</code>. This method should return the x component of the location.
            </li>
            <li>
                <code>getY</code>: create a method named <code>getY</code> which takes no arguments and returns a
                <code>double</code>. This method should return the y component of the location.
            </li>
            <li>
                <code>setX</code>: create a method named <code>setX</code> which takes a single <code>double</code> and
                returns <code>void</code>. This method should set the x component of the location to the input value.
            </li>
            <li>
                <code>setY</code>: create a method named <code>setY</code> which takes a single <code>double</code> and
                returns <code>void</code>. This method should set the y component of the location to the input value.
            </li>
        </ul>
    </li>
    <li>
        <code>Circle</code> (5 points): Create a class in the <code>problem</code> package named <code>Circle</code>. This class
        will represent a circle based on a 2-dimensional location and a radius. This class should implement the
        following methods:
        <ul>
            <li>
                Constructor: create a constructor which takes a [reference to a] <code>Location</code> object and a
                <code>double</code>, in that order. These represent the location of the center of the circle and its radius.
            </li>
            <li>
                <code>getRadius</code>: create a method named <code>getRadius</code> which takes no arguments and
                returns a <code>double</code>. This method should return the radius of this circle.
            </li>
            <li>
                <code>setRadius</code>: create a method named <code>setRadius</code> which takes a single
                <code>double</code> and returns <code>void</code>. This method should set the radius of the circle to
                the input value.
            </li>
            <li>
                <code>getLocation</code>: create a method named <code>getLocation</code> which takes no arguments and
                returns a [reference to a] <code>Location</code> object containing the location of the circle.
            </li>
            <li>
                <code>setLocation</code>: create a method named <code>setLocation</code> which takes a single [reference
                to a] <code>Location</code> object and returns <code>void</code>. This method should set the location of
                the circle to the input location.
            </li>
            <li>
                <code>getArea</code>: create a method named <code>getArea</code> which takes no arguments and returns a
                <code>double</code>. This method should calculate and return the area of the circle.
            </li>
            <ul>
                <li>
                    Remember that the area of a circle can be found with <code>πr<sup>2</sup></code>, where
                    <code>r</code> is the radius of the circle.
                </li>
                <li>
                    You can/should use <code>Math.PI</code> as the value of π instead of hard-coding your own estimate of π. Nothing 
                    needs to be imported to do so since <code>Math</code> is auto-imported.
                </li>
            </ul>
        </ul>
    </li>

    <li>
        <code>Circle.move</code> (5 points): Add a method to the <code>Circle</code> class named <code>move</code> that takes 
        2 doubles and returns void. The inputs are the amount to move the circle in the x direction and y direction respectively (dx and dy). 
        The method should move the circle by these amounts.
    </li>
    <li>
        <code>Circle.detectCollision</code> (5 points): Add a method to the <code>Circle</code> class named <code>detectCollision</code> 
        that takes a [reference to a] <code>Circle</code> and returns a <code>boolean</code>. This method returns true if this circle 
        overlaps at all with the circle from the parameter, false otherwise.
        <ul>
            <li>
                If two circles are exactly sharing a point, but are not overlapping, this should
                <b>not</b> be considered a collision.
            </li>
            <li>
                The distance between two arbitrary points can be calculated as
                <code>√((x<sub>1</sub>-x<sub>2</sub>)<sup>2</sup> + (y<sub>1</sub>-y<sub>2</sub>)<sup>2</sup>)</code>.
            </li>
        </ul>
    </li>
    <li>
        <code>CircleWorld</code> (5 points): Create a class in the <code>problem</code> package named <code>CircleWorld</code>
        and implement the following methods in this class:
        <ul>
            <li>
                Constructor: You do not need to create a constructor for this class. If you choose to create one, it must not 
                take any parameters (Autolab will create <code>CircleWorld</code> objects without providing arguments).
            </li>
            <li>
                <code>addCircle</code>: create a method named <code>addCircle</code> which takes a [reference to a] <code>Circle</code>
                and returns <code>void</code>. This method should add this circle to the world. It is up to you how to handle this as long
                as the next method functions properly.
            </li>
            <li>
                <code>getCircles</code>: create a method named <code>getCircles</code> which takes no parameters and returns 
                an <code>ArrayList</code> of <code>Circle</code>s. The returned <code>ArrayList</code> must contain every circle 
                that was added to the world using the <code>addCircle</code> method.
            </li>
        </ul>
    </li>
    <li>
        <code>CircleWorld.closestCircle</code> (5 points): Add a method to the <code>CircleWorld</code> class named <code>closestCircle</code>
        that takes a <code>Location</code> as a parameter and returns a <code>Circle</code>. This method will return the closest circle to 
        the given location.
        <ul>
            <li>
                Remember to take the radius into consideration. You are not returning the circle with a center closest to the point.
            </li>
            <li>
                If the point is inside a circle, that's the closest circle
            </li>
            <li>
                If any number of circles are tied in terms of closest distance, you may return any of those circles.
            </li>
        </ul>
    </li>
    <li>
        <code>CircleWorld.collidingCircles</code> (5 points): Add a method to the <code>CircleWorld</code> class named <code>collidingCircles</code>
        that takes no parameters and returns an <code>ArrayList</code> of <code>Circle</code>s. This method will return an <code>ArrayList</code>
        containing every circle in the world that is colliding with another circle.
        <ul>
            <li>
                If a circle is colliding with multiple other circles, be sure to only add it the output once.
            </li>
            <li>
                Take advantage of the <code>detectCollision</code> method you've written to make this method easier to write.
            </li>
        </ul>
    </li>
    <li>
        <code>CircleWorld.resolveAllCollisions</code> (15 points): Add a method to the <code>CircleWorld</code> class named <code>resolveAllCollisions</code>
        that takes a no parameters and returns <code>void</code>. This method will move, using the <code>move</code> method, the circles in the world such that no circle is colliding with any 
        other circle.
        <ul>
            <li>
                This method is open-ended and you are encouraged to get creative with your solution. As long as no circles are colliding after this method 
                is called, and all circles are still in the world and their radii have not been changed, the grader will give you credit.
            </li>
            <li>
                It can help to call the <code>collidingCircles</code> method to help you write this method. If <code>collidingCircles</code> returns an 
                empty <code>ArrayList</code>, you've resolved all collisions.
            </li>
            <li>
                This method is graded in 3 phases, each worth 5 points. The phases have progressively more difficult test cases. To complete the last 
                phase, you will have to handle a multitude of edge cases and unique positions of the circles.
            </li>
        </ul>
    </li>
</ul>



{% endcall %}


{% endblock %}
