{% extends 'hw/hw.html' %}
{% block title %}CSE116: Problem Set 2{% endblock %}
{% block header %}
<h1>Problem Set 2: Inheritance and Linked Lists</h1>
{% endblock %}


{% block task %}

{% call task_card("Problem Set") %}

<p>
    Repository link:
    <a href="https://github.com/CSE-116/ProblemSet-2">https://github.com/CSE-116/ProblemSet-2</a>
</p>

<p>
    To submit your project, run <code>problem.Zipper</code>, which will create a zip file containing the
    problem set, and submit it to Autolab.
</p>

<hr />
<h3>Specification</h3>
<hr />

<p>
    For this Problem Set, you will implement the following functionality. Note that all of the methods are public and
    <em><strong>non-static</strong></em>.
</p>
<ul>
    <li>
        <code>Monster</code> (5 points): Create an <em><strong>abstract</strong></em> class in the <code>problem</code> package
        named <code>Monster</code>. This class should implement the following methods:
        <ul>
            <li>
                Constructor: create a constructor which takes a <code>String</code> and an <code>int</code>
                representing the name and maximum health of the monster. The current health of the monster should
                initially be set to the maximum amount.
                <ul>
                    <li>
                        Ex: if a <code>Monster</code> is created with a max health of 10, the initial health
                        would also be 10. The max health should never change, even if the current health does.
                    </li>
                </ul>
            </li>
            <li>
                <code>getName</code>: create a method named <code>getName</code> which takes no parameters and returns a
                <code>String</code>. This method should return the name of the <code>Monster</code>.
            </li>
            <li>
                <code>setName</code>: create a method named <code>setName</code> which takes a single
                <code>String</code> and returns <code>void</code>. This method should set the name of the
                <code>Monster</code> to the input value.
            </li>
            <li>
                <code>getHP</code>: create a method named <code>getHP</code> which takes no parameters and returns an
                <code>int</code>. This method should return the current health of the <code>Monster</code>.
            </li>
            <li>
                <code>setHP</code>: create a method named <code>setHP</code> which takes a single <code>int</code> and
                returns <code>void</code>. This method should set the current health of the <code>Monster</code> to the
                input value.
            </li>
            <li>
                <code>getMaxHP</code>: create a method named <code>getMaxHP</code> which takes no parameters and returns
                an <code>int</code>. This method should return the maximum health of the <code>Monster</code>.
            </li>
            <li>
                <code>attack</code>: create a <em>public abstract</em> method named <code>attack</code> which takes a
                reference
                to a <code>Monster</code> object and returns <code>void</code>.
            </li>
        </ul>
    </li>
    <li>
        <code>Skeleton</code> (5 points): Create a class in the <code>problem</code> package named <code>Skeleton</code>. This
        class should extend the <code>Monster</code> class described above. This class should implement the following
        methods:
        <ul>
            <li>
                Constructor: create a constructor which takes a <code>String</code> and two <code>int</code>s
                representing the name, maximum health, and damage of the skeleton, respectively.
            </li>
            <li>
                <code>getDamage</code>: create a method named <code>getDamage</code> which takes no parameters and
                returns an <code>int</code>. This method should return the damage value of the <code>Skeleton</code>.
            </li>
            <li>
                <code>setDamage</code>: create a method named <code>setDamage</code> which takes a single
                <code>int</code> and returns <code>void</code>. This method should set the damage value of the
                <code>Skeleton</code> to the input value.
            </li>
            <li>
                <code>reanimate</code>: create a method named <code>reanimate</code> which takes no parameters and
                returns <code>void</code>. If the <code>Skeleton</code>'s health is less than or equal to 0, it should
                set it to the
                maximum health of that object. If its health is greater than 0, it should do nothing.
            </li>
            <li>
                <code>attack</code>: override the abstract method of the same name from the <code>Monster</code> class.
                It should take a reference to a <code>Monster</code> object and return <code>void</code>. This method
                should decrease
                the health of the <code>Monster</code> parameter by the damage of that <code>Skeleton</code>.
                <ul>
                    <li>
                        For example, if a <code>Skeleton</code> was created with a damage of 5, and a
                        <code>Monster</code> with a health of 8 was passed in, its health would be decreased to 3.
                    </li>
                    <li>
                        The health of the passed in object is allowed to become negative. For example, if a
                        <code>Skeleton</code> was created with a damage of 5, and a <code>Monster</code> with a health
                        of 1 was passed in, its health would be decreased to -4.
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <code>Creeper</code> (5 points): Create a class in the <code>problem</code> package named <code>Creeper</code>. This
        class should extend the <code>Monster</code> class described above. This class should implement the following
        methods:
        <ul>
            <li>
                Constructor: create a constructor which takes no parameters. The name should always be "creeper" and the max hp 
                should always be 100.
            </li>
            <li>
                <code>attack</code>: override the abstract method of the same name from the <code>Monster</code> class.
                It should take a reference to a <code>Monster</code> object and return <code>void</code>. This method
                should set the hp of the monster and the creeper to 0.
            </li>
        </ul>
    </li>
    <li>
        <code>StringList</code> (5 points): Create a class in the <code>problem</code> package named <code>StringList</code>.
        This class will contain methods for using and manipulating <code>LinkedListNode</code>s of <code>String</code>s.
        You must use the <code>LinkedListNode</code> class provided, which can be found in
        <code>problem.datastructures</code>. This class should implement the following methods:
        <ul>
            <li>
                <code>getList</code>: create a method named <code>getList</code> which takes no parameters and returns a
                <code>LinkedListNode</code> of <code>String</code>s. This method should return the entire linked list of
                strings.
            </li>
            <li>
                <code>setList</code>: create a method named <code>setList</code> which takes a
                <code>LinkedListNode</code> of <code>String</code>s as a parameter and returns <code>void</code>. This
                method should
                set the linked list of strings to the input value.
            </li>
            <li>
                <code>addElement</code>: create a method named <code>addElement</code> which takes a single
                <code>String</code> as a parameter and returns <code>void</code>. This method should append the input
                <code>String</code> to the end of the linked list.
            </li>
        </ul>
    </li>
    <li>
        <code>getMidpoint</code> (10 points): create a method in the <code>StringList</code> class named <code>getMidpoint</code> which takes no parameters and
        returns a <code>String</code>. This method should return the value at the middle index of the linked
        list.
        <ul>
            <li>
                If the list has an odd number of elements, it should return the middle element. For example,
                calling getMidpoint with the list ["cat","dice","lemon","juicebox","elephant"] would return
                "lemon", since it is at the middle index.
            </li>
            <li>
                If the list has an even number of elements, it should return the two middle elements
                concatentated together, <em>separated by a space</em>. For example, calling getMidpoint with the
                list ["cat","dice","lemon","juicebox","elephant","apple"] would return "lemon juicebox", since
                indices 2 and 3 are equally close to the midpoint of the list.
            </li>
            <li>
                If the list is empty, this method should return the empty <code>String</code>.
            </li>
        </ul>
    </li>
    <li>
        <code>deleteElement</code> (10 points): create a method in the <code>StringList</code> class named <code>deleteElement</code> which takes a
        <code>String</code> as a parameter and returns <code>void</code>. This method should remove the first
        occurrence of
        the input <code>String</code> from the list.
        <ul>
            <li>
                If the list is empty, or does not contain the input value, this method should do nothing.
            </li>
            <li>
                If the list contains multiple of the value being deleted, this method should only remove the
                first. For example, calling delete("dice") on the list ["dice","cat","dice"] would result in the
                list ["cat", "dice"].
            </li>
            <li>
                When comparing two <code>String</code>s for equality, always use the <code>.equals</code> method. Do not compare them using <code>==</code>.
            </li>
        </ul>
    </li>
    <li>
        <code>zipperMerge</code> (10 points): create a method in the <code>StringList</code> class named <code>zipperMerge</code> which takes a
        <code>StringList</code> as a parameter and returns <code>void</code>. This method should zipper merge the parameter list 
        with this list. The zipper should start with this list and merge the two lists by alternating values from the lists. The list from the parameter should remain unchanged.
        <ul>
            <li>
                If the end of one list is reached before the zipper ends, the rest of that list must be added to the end of the list.
            </li>
            <li>
                Either list might be empty when this method is called. Be sure to handle these cases
            </li>
            <li>
                Example: If the list that called the method is ("a", "b", "c", "d") and the method is called with a parameter of ("e", "f", "g", "h"), 
                the calling objects list should be ("a", "e", "b", "f", "c", "g", "d", "h").  
            </li>
            <li>
                Example: If the list that called the method is ("a", "b") and the method is called with a parameter of ("e", "f", "g", "h"), 
                the calling objects list should be ("a", "e", "b", "f", "g", "h").
            </li>
            <li>
                Example: If the list that called the method is ("a", "b", "c", "d") and the method is called with a parameter of ("e", "f"), 
                the calling objects list should be ("a", "e", "b", "f", "c", "d") 
            </li>
        </ul>
    </li>
    <!-- <li>
        <code>removeDuplicates</code> (Bonus 10 points): create a method in the <code>StringList</code> class named <code>removeDuplicates</code> which takes a
        <code>StringList</code> as a parameter and returns <code>void</code>. This method should zipper merge the parameter list 
        with this list. The zipper should start with this list and merge the two lists by alternating values from the lists. The list from the parameter should remain unchanged.
        <ul>
            <li>
                If the end of one list is reached before the zipper ends, the rest of that list must be added to the end of the list.
            </li>
            <li>
                Either list might be empty when this method is called. Be sure to handle these cases
            </li>
            <li>
                Example: If the list that called the method is ("a", "b", "c", "d") and the method is called with a parameter of ("e", "f", "g", "h"), 
                the calling objects list should be ("a", "e", "b", "f", "c", "g", "d", "h").  
            </li>
            <li>
                Example: If the list that called the method is ("a", "b") and the method is called with a parameter of ("e", "f", "g", "h"), 
                the calling objects list should be ("a", "e", "b", "f", "g", "h").
            </li>
            <li>
                Example: If the list that called the method is ("a", "b", "c", "d") and the method is called with a parameter of ("e", "f"), 
                the calling objects list should be ("a", "e", "b", "f", "c", "d") 
            </li>
        </ul>
    </li> -->
</ul>


{% endcall %}
{% endblock %}
