{% extends 'hw/hw.html' %}
{% block title %}CSE116: Problem Set 3{% endblock %}
{% block header %}
<h1>Problem Set 3: Polymorphism, Trees, and Testing</h1>
{% endblock %}


{% block task %}

{% call task_card("Problem Set") %}

<p>
    Repository link:
    <a href="https://github.com/CSE-116/ProblemSet-3">https://github.com/CSE-116/ProblemSet-3</a>
</p>

<p>
    To submit your project, run <code>problem.Zipper</code>, which will create a zip file containing the
    problem set, and submit it to Autolab.
</p>

<hr />
<h3>Specification</h3>
<hr />

<p>
    For this problem set, you will implement a media library that uses polymorphism, static methods on binary
    trees in <code>problem.ProblemSet3</code>, and JUnit tests. Unless noted otherwise, methods are public
    and <em><strong>non-static</strong></em>.
</p>

<p>
    The <code>problem.Media</code> abstract class is provided to you in its entirety. Do not make any changes to this class.
</p>

<ul>
    <li>
        <code>Song</code> (5 points): The <code>problem.Song</code> class is provided in the starter code. It extends
        <code>Media</code> and includes a constructor and the methods <code>play</code>, <code>pause</code>, and
        <code>getPlaybackTime</code>, all of which function properly and do not need to be edited.
        However, the provided <code>advancePlaybackTime</code> method contains multiple bugs that need to be fixed.
        The expected behavior of <code>advancePlaybackTime</code> is as follows:
        <ul>
            <li>
                If the song is not playing, the playback time should not change
            </li>
            <li>
                If the song is playing, the playback time should increase by the given time (all time units are in seconds)
            </li>
            <li>
                If advancing would move past the end of the song, the playback time should stop at the song's
                duration and the song should be marked as finished by setting the <code>isFinished</code> 
                instance variable to true
            </li>
            <li>
                This method must override <code>advancePlaybackTime</code> from <code>Media</code>
            </li>
        </ul>
    </li>
    <li>
        <code>Chapter</code> (5 points): Create a class in the <code>problem</code> package named <code>Chapter</code>.
        A chapter represents a named segment of an audiobook with a duration. This class should implement the
        following methods:
        <ul>
            <li>
                Constructor: Create a constructor that takes the title of the chapter, as a String, and
                the duration of the chapter, as a double, in this order
            </li>
            <li>
                Getters and Setters: Implement getters and setters following the usual structure named
                <code>getName</code>, <code>setName</code>, <code>getDuration</code>, and <code>setDuration</code>
            </li>
        </ul>
    </li>
    <li>
        <code>Audiobook</code> (10 points): Create a class in the <code>problem</code> package named
        <code>Audiobook</code> that extends <code>Media</code>. An audiobook plays a sequence of chapters in order.
        This class should implement the following methods:
        <ul>
            <li>
                Constructor: Create a constructor that takes a title (String) and the chapters for this
                audiobook (array of Chapters), in this order. Note that this constructor takes a plain
                array using the [] syntax, not an ArrayList
            </li>
            <li>
                Abstract methods: Implement the inherited abstract methods <code>play</code>,
                <code>pause</code>, and <code>getPlaybackTime</code> with the same functionality as
                the <code>Song</code> class
            </li>
            <li>
                <code>setPlaybackSpeed</code>: Set the playback speed of the audiobook. Playback speed should 
                initially be 1.0. The playback speed cannot be set to a value less than 0.5 or greater than 4.0. 
                If the playback speed is set to a value less than 0.5 or greater than 4.0, it should be set to the 
                nearest valid value (0.5 or 4.0)
            </li>
            <li>
                <code>advancePlaybackTime</code>: When playing, advance playback according to the audiobook's
                playback speed. The parameter of this method is the amount of real time that has passed and the 
                playback time should advance by this amount times the playback speed. If playback reaches or 
                passes the end of the book, cap playback time at 
                the total length and mark the audiobook as finished. Note that the duration of the book 
                is the sum of the duration of all its chapters. This method must override the 
                <code>advancePlaybackTime</code> method inherited from the <code>Media</code> class
            </li>
            <li>
                <code>getCurrentChapterName</code>: Return the name of the chapter currently being played, based on
                playback position and chapter lengths. If the book is finished, return the name of the last chapter.
                You may assume the book has at least 1 chapter (in your tests, always give your test books at least 1 chapter)
            </li>
            <li>
                <code>getTitle</code>: Return a title that reflects both the current chapter and the book title. The format should
                be <code>currentChapterName - bookTitle</code>. That is a space, a dash, then another space (<code> - </code>) between
                the chapter name and book title. This method must override the <code>getTitle</code> method inherited
                from the <code>Media</code> class
            </li>
        </ul>
    </li>
    <li>
        <code>Playlist</code> (10 points): Create a class in the <code>problem</code> package named
        <code>Playlist</code>. This class should implement the following methods:
        <ul>
            <li>
                Constructor: There is no required constructor for this class. If you write a constructor, it should be public
                and take no parameters
            </li>
            <li>
                <code>populatePlaylist</code>: This method takes an ArrayList of Songs and an ArrayList of Audiobooks and
                should add all songs and audiobooks to the playlist
            </li>
            <li>
                <code>getMediaSortedByTitle</code>: Return a new <code>ArrayList</code> of <code>Media</code> containing
                every item in this
                playlist, sorted by each item's <code>getTitle()</code> value. Comparisons should be case-insensitive
                (sort alphabetically ignoring capitalization)
            </li>
            <li>
                You have seen several examples of sorting in lecture. You must use one of these approaches to sort the values of
                the playlist
            </li>
        </ul>
    </li>
</ul>

<br>
<p>
    The last part of this problem set is to complete <em>static</em> methods in the <code>problem.ProblemSet3</code> 
    class, all of which are related to binary trees.
</p>

<ul>
    <li>
        <code>maxBST</code> (5 points): In the <code>problem.ProblemSet3</code> class, complete the
        <code>maxBST</code> method, which takes a <code>BST</code> of <code>Integer</code>s and returns an
        <code>int</code>. This method returns the maximum value in the BST according to that BST's
        <code>Comparator</code>
        <ul>
            <li>
                "Maximum", in this context, means the value that would appear last if all values were sorted using that
                <code>Comparator</code>. It is not necessarily the largest numeric value in the tree
            </li>
            <li>
                If the <code>BST</code> is empty (the root is <code>null</code>), return 0
            </li>
        </ul>
    </li>
    <li>
        <code>maxBinaryTree</code> (10 points): In the <code>problem.ProblemSet3</code> class, complete the
        <code>maxBinaryTree</code> method, which takes a <code>BinaryTreeNode</code> of <code>Integer</code>s and an
        <code>Integer</code> <code>Comparator</code>, and returns an <code>int</code>. This method returns the
        maximum value in the binary tree rooted at the given node, according to the comparator
        <ul>
            <li>
                Note: The tree is not necessarily a BST
            </li>
            <li>
                If the tree is empty (the root is <code>null</code>), return 0
            </li>
        </ul>
    </li>
    <li>
        <code>isBST</code> (10 points): In the <code>problem.ProblemSet3</code> class, complete the
        <code>isBST</code> method, which takes a <code>BinaryTreeNode</code> of <code>Integer</code>s and an
        <code>Integer</code> <code>Comparator</code>, and returns a <code>boolean</code>. Return <code>true</code> if
        the tree rooted at the given node is a valid BST under that comparator, and <code>false</code> otherwise
        <ul>
            <li>
                You may assume no duplicate values, according to the comparator, appear in the tree
            </li>
            <li>
                An empty tree is a valid BST
            </li>
        </ul>
    </li>
</ul>

<br>

<hr />
<h3>Testing Requirements</h3>
<hr />

<p>
    Write tests for the parts of the specification
    described below in the <code>tests.TestProblemSet3</code> class. You are encouraged to write tests before you implement each
    part. If a test fails, use the debugger to find and fix your bug.
</p>
<ul>
    <li>
        <code>Song</code>
        <ul>
            <li>
                Write tests for the <code>Song.advancePlaybackTime</code> method. Your tests should fail on the buggy
                starter implementation, and on any implementation that does not match all the expected behavior
            </li>
            <li>
                You do not need to test the other methods in the <code>Song</code> class that were provided in the
                handout code
            </li>
        </ul>
    </li>
    <li>
        <code>Chapter</code>
        <ul>
            <li>
                Write tests for your <code>Chapter</code> class. Your tests should cover construction, getters, and setters
                so that chapter name and duration behave as expected
            </li>
        </ul>
    </li>
    <li>
        <code>Audiobook</code>
        <ul>
            <li>
                Write tests for the <code>Audiobook</code> class. Your tests should cover all the behavior
                described in the specification
            </li>
        </ul>
    </li>
    <li>
        <code>Playlist</code>
        <ul>
            <li>
                Write tests for the <code>Playlist</code> class. Your tests should cover all the behavior
                described in the specification
            </li>
        </ul>
    </li>
    <li>
        <code>maxBST</code>
        <ul>
            <li>
                Write tests for the <code>maxBST</code> method. Test that the proper value is returned in a
                variety of cases
            </li>
            <li>
                When testing this method, you will need to create BST objects. You can use any/all of the
                provided <code>Integer</code> <code>Comparator</code>s to create these BSTs
            </li>
        </ul>
    </li>
    <li>
        <code>maxBinaryTree</code> and <code>isBST</code>
        <ul>
            <li>
                Tests for these methods are provided for you. You do not need to write any additional tests for
                these methods. You can and should study these tests to help you write your <code>maxBST</code> tests
            </li>
        </ul>
    </li>
</ul>


<br />

<hr />
<h3>Programming Requirements</h3>
<hr />

<p>
    Implement the methods and classes from the specification.
</p>
<p>
    You are encouraged to complete the Testing Requirements before you begin implementation so
    you can run your tests as you implement each part.
</p>

<br />

<hr />
<h3>Autolab Feedback</h3>
<hr />

<p>
    With testing now being required, feedback from Autolab will be given in several phases.
</p>
<ol>
    <li>
        Running your tests on a correct solution
        <ul>
            <li>
                Your tests will be run against a solution that is known to be correct. If your tests do
                not pass this correct solution, there is an error somewhere in your tests that must be
                fixed before you can move on with the assignment. If your tests don't get past this
                check, you should re-read this document and make sure you implemented your tests and
                code according to the specification. You should also make sure that if there are multiple
                correct outputs to the input in your test cases that you accept any of the outputs as
                correct
            </li>
            <li>
                Note: If you fail this phase, you will not be able to move on to the next phase
            </li>
        </ul>
    </li>
    <li>
        Checking your tests for feature coverage
        <ul>
            <li>The next phase is to check if your tests check for a variety of features defined by
                different inputs. You should write at least one test case for each feature to pass this
                phase
            </li>
            <li>Passing this phase does not necessarily mean that your testing is completely thorough.
                Satisfying Autolab is the bare minimum testing requirement. Not all possible inputs are
                checked and it is sometimes possible to pass this phase with weak testing. If you are
                struggling to earn credit for code that you believe is correct, you should write more
                than the required tests
            </li>
        </ul>
    </li>
    <li>
        Running Autolab's tests on your submission
        <ul>
            <li>
                If your testing is thorough, and your code passes your tests, then
                you should pass this phase. If you pass your tests, but fail one of Autolab's tests, it is an
                indicator that you should write more tests to help expose your bug
            </li>
        </ul>
    </li>
</ol>
{% endcall %}


{% endblock %}
