{% extends 'hw/hw.html' %}
{% block title %}CSE116: Problem Set 4{% endblock %}
{% block header %}
<h1>Problem Set 4: Graphs and Testing</h1>
{% endblock %}


{% block task %}

{% call task_card("Problem Set") %}

<p>
    Repository link:
    <a href="https://github.com/CSE-116/ProblemSet-4">https://github.com/CSE-116/ProblemSet-4</a>
</p>

<p>
    To submit your project, run <code>problem.Zipper</code>, which will create a zip file containing the
    problem set, and submit it to Autolab.
</p>

<hr />
<h3>Specification</h3>
<hr />

<p>
    For this problem set, you will complete public static methods in the <code>problem.ProblemSet4</code> class. Each
    method takes a <code>Graph&lt;T&gt;</code> and is generic over the node type <code>T</code>. The graph uses
    only bidirectional edges (see <code>Graph.addBidirectionalEdge</code>). Method signatures appear in the starter
    code.
</p>

<ul>
    <li>
        <code>countEdges</code> (Testing: 5 points, Implementation: 5 points): In the <code>problem.ProblemSet4</code>
        class, complete the <code>countEdges</code> method, which takes a <code>Graph</code> as a parameter and
        returns an <code>int</code>. This method returns the number of edges in the input graph. Each undirected edge
        between two distinct nodes counts once (the adjacency list stores each edge twice, once per endpoint)
        <ul>
            <li>
                Note that this method takes a type parameter along with a graph matching the type parameter.
                This method will work regardless of the type of the values stored in the graph. This will be
                true for all methods in this problem set
            </li>
        </ul>
    </li>
    <li>
        <code>maxDegree</code> (Testing: 5 points, Implementation: 5 points): In the <code>problem.ProblemSet4</code>
        class, complete the <code>maxDegree</code> method, which takes a <code>Graph</code> as a parameter and
        returns an <code>int</code>. This method returns the maximum degree among all nodes (Degree of a node is the number of 
        neighbors of that node)
        <ul>
            <li>
                An empty graph has maximum degree of <code>0</code>
            </li>
        </ul>
    </li>
    <li>
        <code>isConnected</code> (Testing: 5 points, Implementation: 5 points): In the <code>problem.ProblemSet4</code>
        class, complete the <code>isConnected</code> method, which takes a <code>Graph</code> as a parameter and
        returns a <code>boolean</code>. This method returns <code>true</code> if the input graph is connected, and
        <code>false</code> otherwise
        <ul>
            <li>
                A graph is connected if there exists a path connecting every pair of nodes in the graph. In
                other words, if you start at any node you can travel to all other nodes in the graph by
                following edges
            </li>
            <li>
                A graph with no nodes is connected
            </li>
            <li>
                A graph with only isolated nodes (no edges) is connected if and only if it has at most one node
            </li>
        </ul>
    </li>
    <li>
        <code>numberOfConnectedComponents</code> (Testing: 5 points, Implementation: 5 points): In the
        <code>problem.ProblemSet4</code> class, complete the <code>numberOfConnectedComponents</code> method, which
        takes a <code>Graph</code> as a parameter and returns an <code>int</code>. This method returns the number of
        connected components in the graph
        <ul>
            <li>
                The empty graph has <code>0</code> components
            </li>
            <li>
                Each isolated node (degree <code>0</code>) is its own component
            </li>
        </ul>
    </li>
    <li>
        <code>detectCycle</code> (Testing: 5 points, Implementation: 5 points): In the <code>problem.ProblemSet4</code>
        class, complete the <code>detectCycle</code> method, which takes a <code>Graph</code> as a parameter and
        returns a <code>boolean</code>. This method returns <code>true</code> if the graph contains at least one
        cycle, and <code>false</code> otherwise
        <ul>
            <li>
                Hint: You can build a BFS tree by running BFS on a graph and creating a new graph that contains
                only the edges that were used to discover new nodes. If the input was already a tree (no
                cycles), then the input graph and the BFS tree will have all the same edges
            </li>
            <li>
                Caution: The input graph does not have to be connected
            </li>
            <li>
                If any connected component contains a cycle, return <code>true</code>
            </li>
            <li>
                A graph with no nodes has no cycles
            </li>
        </ul>
    </li>
</ul>

<br>

<hr />
<h3>Testing Requirements</h3>
<hr />

<p>
    Write tests for the methods in the specification
    in the <code>tests.TestProblemSet4</code> class. You are encouraged to write tests before you implement each
    method. If a test fails, use the debugger to find and fix your bug.
</p>
<ul>
    <li>
        <code>countEdges</code>
        <ul>
            <li>
                Write tests for the <code>countEdges</code> method. Test that the proper value is returned in a
                variety of cases
            </li>
            <li>
                Use the provided <code>Graph</code> class to construct a graph. The number of times you call
                <code>addBidirectionalEdge</code> should be the expected number of edges
            </li>
            <li>
                For all methods, you are testing methods that take a <code>Graph</code> that takes a type
                parameter. You may choose any type when you create your graphs (eg. Using whatever is simplest,
                like Integer, is fine). Since nodes are stored as keys in a <code>HashMap</code>, your
                <code>Graph</code> cannot contain duplicate node values
            </li>
        </ul>
    </li>
    <li>
        <code>maxDegree</code>
        <ul>
            <li>
                Write tests for the <code>maxDegree</code> method. Test that the proper value is returned in a
                variety of cases
            </li>
        </ul>
    </li>
    <li>
        <code>isConnected</code>
        <ul>
            <li>
                Write tests for the <code>isConnected</code> method. Test that the proper value is returned in a
                variety of cases
            </li>
            <li>
                The <code>addNode</code> method in the <code>Graph</code> class is public in this version of the
                code in case you want to add nodes with no edges while creating disconnected graphs
            </li>
        </ul>
    </li>
    <li>
        <code>numberOfConnectedComponents</code>
        <ul>
            <li>
                Write tests for the <code>numberOfConnectedComponents</code> method. Test that the proper 
                value is returned in a variety of cases
            </li>
            <li>
                Use <code>addNode</code> when you need isolated nodes
            </li>
        </ul>
    </li>
    <li>
        <code>detectCycle</code>
        <ul>
            <li>
                Write tests for the <code>detectCycle</code> method. Test that the proper value is returned in a
                variety of cases
            </li>
            <li>
                Be sure to include test cases where the input graph is not connected
            </li>
        </ul>
    </li>
</ul>


<br />

<hr />
<h3>Programming Requirements</h3>
<hr />

<p>
    Implement the methods from the specification.
</p>
<p>
    You are encouraged to complete the Testing Requirements before you begin implementation so
    you can run your tests as you implement each part.
</p>

<br />

<hr />
<h3>Autolab Feedback</h3>
<hr />

<p>
    With testing now being required, feedback from Autolab will be given in several phases.
</p>
<ol>
    <li>
        Running your tests on a correct solution
        <ul>
            <li>
                Your tests will be run against a solution that is known to be correct. If your tests do
                not pass this correct solution, there is an error somewhere in your tests that must be
                fixed before you can move on with the assignment. If your tests don't get past this
                check, you should re-read this document and make sure you implemented your tests and
                code according to the specification. You should also make sure that if there are multiple
                correct outputs to the input in your test cases that you accept any of the outputs as
                correct
            </li>
            <li>
                Note: If you fail this phase, you will not be able to move on to the next phase
            </li>
        </ul>
    </li>
    <li>
        Checking your tests for feature coverage
        <ul>
            <li>The next phase is to check if your tests check for a variety of features defined by
                different inputs. You should write at least one test case for each feature to pass this
                phase
            </li>
            <li>Passing this phase does not necessarily mean that your testing is completely thorough.
                Satisfying Autolab is the bare minimum testing requirement. Not all possible inputs are
                checked and it is sometimes possible to pass this phase with weak testing. If you are
                struggling to earn credit for code that you believe is correct, you should write more
                than the required tests
            </li>
        </ul>
    </li>
    <li>
        Running Autolab's tests on your submission
        <ul>
            <li>
                If your testing is thorough, and your code passes your tests, then
                you should pass this phase. If you pass your tests, but fail one of Autolab's tests, it is an
                indicator that you should write more tests to help expose your bug
            </li>
        </ul>
    </li>
</ol>
{% endcall %}


{% endblock %}
