{% extends 'hw/hw.html' %}

{% block title %}CSE116: Task 3{% endblock %}

{% block header %}
    <h1>Coding Task 3 - Inheritance</h1>
    <hr/>
    <h5>Time Estimate: 10 hours</h5>
    <hr/>
{% endblock %}

{% block task %}

    <div class="card-header section-testing">
        <div>Requirements</div>
    </div>

    <div class="section-card card-testing hw-content">

        <hr/>


        <h3>
            Project Structure
        </h3>

        <hr/>
        <p>
            You will continue to add functionality to your existing project from the previous task. There is
            no new repository to clone.
        </p>
        <hr/>

        <h3>
            Using the Graphics Engine
        </h3>

        <hr/>

        <p>
            Rather than completing the functionality of the game engine as was the focus of the previous tasks,
            this task will mainly be focused on building new features. In order to do so, we'll need to tell the
            game engine what sprites to load for the new objects. While you don't need to understand how the game
            engine does this, we will briefly explain how to assign new sprites.
        </p>

        <p>
            Everything in game that can have a sprite (e.g. GameObjects, DynamicGameObjects) has instance variables called
            <code>spriteSheetFilename</code> and <code>defaultSpriteLocation</code>. In most
            2D games, rather than storing each individual sprite as its own file, we store groups of sprites together in
            a single file called a spritesheet, then tell the engine which sprite on the sheet to load.
            <code>spriteSheetFilename</code> is a String that represents the filename containing the spritesheet
            with the desired sprite in it. <code>defaultSpriteLocation</code> takes in a <code>SpriteLocation</code> object.
            For the sake of this task, all you need to know about the <code>SpriteLocation</code> class is that it has
            a constructor taking in the row and column the desired sprite is in the spritesheet (feel free to look through
            the data directory to understand what these files look like).
        </p>

        <p>So, to add a sprite to an object, we just need to set values to these instance variables in the
            constructor. For example, this is how the Wall class sets the sprites:</p>

        <p>
            <code>this.spriteSheetFilename = "Ground/Cliff.png";
            <br/>
            this.defaultSpriteLocation = new SpriteLocation(3, 0);</code>
        </p>

        <p>
            Any time anything you add needs a sprite, the handout will specify what the filename and location
            should be to load a good sprite for the object. We will not test which sprites you use, so if you wish you 
            may use different sprites. All of the suggested sprites already exist in the project, but the sprite sheet
            linked below has some additional sprites that you may wish to use; if you choose to, you should save this
            image into the data directory of your project, by right clicking and pressing "Save Image as..."
        </p>

        <h2><a href="/static_files/images/Textures-16.png">Task 3 Textures</a></h2>

        <br/>
        <hr/>
        <h3>Specification</h3>
        <hr/>

        <p>In this task, you implement the following specs.</p>

        <ul>
            <li>
                <code>DynamicGameObject</code> - Invincibility Frames (<code>app.gameengine.model.gameobjects.DynamicGameObject</code>)
                <ul>
                    <li>
                        In game development, invincibility frames are a short period of time when players become immune to
                        taking damage. They're used to prevent players from constantly taking damage every frame from the
                        same source without having the opportunity to escape danger. In this part of the task, you will
                        implement invincibility frames for the players so that enemies can now deal the proper amount of damage.
                    </li>
                    <li>
                        Add an instance variable of type double to the DynamicGameObject class representing the amount of time
                        they are immune from damage. This should be initialized to 0. Add getters and setters called 
                        <code>getInvincibilityFrames</code> and <code>setInvincibilityFrames</code>.
                    </li>
                    <li>
                        Override the <code>update</code> method. Your overridden method should begin
                        with a call to the superclass' update method, then it should subtract the invincibility time
                        by the change in time (dt).
                    </li>
                </ul>
            </li>

            <li>
                <code>Enemy</code> - Dealing Damage (<code>app.games.topdownobjects.Enemy</code>)
                <ul>
                    <li>
                        Modify the existing overridden <code>collideWithDynamicObject</code> method to deal
                        damage to the player rather than destroying them. The amount of damage dealt should be equal to the enemy's strength instance variable.
                    </li>
                    <li>
                        Your method should check if the player has more than 0 invincibility time left. If so, the
                        method should do nothing. If the player doesn't have any invincibility time left, you should
                        have the Player take damage as normal, then reset the amount of invincibility time to 0.5.
                    </li>
                </ul>
            </li>


        </ul>

        <p>
            Now, you should be able to run into enemies and watch your health go down in the UI without instantly
            being reset to the beginning of the level.
        </p>

        <ul>
            <li>
                <code>Potion</code> (<code>app.games.commonobjects.Potion)</code>
                <ul>
                    <li>
                        In the <code>commonobjects</code> package, create a new class called Potion that
                        extends DynamicGameObject.
                    </li>
                    <li>
                        Create a constructor that takes in two parameters: a Vector2D representing location
                        and an int representing the amount to heal.
                        <ul>
                            <li>When you call the super constructor, give the Potion a max HP of 10.</li>
                            <li>
                                Graphics:
                                <ul>
                                    <li>You should initialize <code>spriteSheetFilename</code> to "User Interface/Icons-Essentials.png".</li>
                                    <li>If the amount to heal is non-negative, the defaultSpriteLocation should be a SpriteLocation at column 0, row 1
                                        (see the "Using the Graphics Engine" section of the handout).</li>
                                    <li>If the amount to heal is negative, the defaultSpriteLocation should be a SpriteLocation at column 1, row 1.
                                        This turns the potion into a poison.</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Override the <code>collideWithDynamicObject</code> method. If the object being collided with
                        is a Player, you should add the amount to heal (from the constructor) to the Player, then call
                        <code>this.destroy()</code> to remove the Potion from the level.
                        <ul>
                            <li>
                                This potion should not give invincibility frames to the player, even if it is dealing damage
                            </li>
                            <li>You can check if a DynamicGameObject is a player by calling the <code>isPlayer</code>
                            method on it.</li>
                        </ul>
                    </li>
                    <li>To see your Potion in game, you can choose one of the methods creating a level (levelZero, levelOne, levelTwo) in the
                        <code>SampleTopDownGame</code> class and add a new Potion object to the Level's DynamicGameObject ArrayList
                        (follow the process the given code uses to add an Enemy to the level, but with a Potion constructor instead.)</li>
                </ul>
            </li>
        </ul>

        <p>
            The remainder of this task will be implementing a new physics engine. While the physics engine you wrote in
            task 1 was designed for a top-down levels where you freely move around a 2D space, this new physics engine
            will be designed for 2D platformer levels where your movement is constrained to moving left and right and
            jumping.
        </p>

        <ul>
            <li>
                <code>DynamicGameObject</code> - Platformer Preparation (<code>app.gameengine.model.gameobjects.DynamicGameObject</code>)
                <ul>
                    <li>
                        Add a method called <code>isOnGround</code> that takes no parameters and returns a boolean. Add a
                        method called <code>setOnGround</code> that takes in a boolean and returns void. These should be
                        the getter and setter for an instance variable representing if the DynamicGameObject is currently
                        on the ground.
                        <ul>
                            <li>This instance variable should be initialized to false.</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <code>PhysicsEngineWithGravity</code> (<code>app.gameengine.model.physics.PhysicsEngineWithGravity</code>)
                <ul>
                    <li>Create a new class called PhysicsEngineWithGravity in the app.gameengine.model.physics package that
                    extends PhysicsEngine.</li>
                    <li>Write a constructor that takes in a single double representing the acceleration from gravity.</li>
                    <li>
                        Override the updateObject method to have the following behavior:
                        <ul>
                            <li>Add the change in velocity from gravity to the DynamicGameObject's
                            y-velocity (note that change in velocity is equal to acceleration from gravity times the change in time)</li>
                            <li>Call the superclass' updateObject method and pass in the parameters.</li>
                            <li>Keep in mind that the positive y direction is downward in this project</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <code>PlatformerWall</code> (<code>app.games.platformerobjects.PlatformerWall</code>)
                <ul>
                    <li>
                        Create a class called PlatformerWall (you will have to create the platformerobjects package)
                        that extends Wall.
                    </li>
                    <li>
                        Write a constructor that takes in two ints representing the x and y location of the
                        PlatformerWall. These should be passed into the super constructor.
                        <ul>
                            <li>
                                The suggested spriteSheetFilename for this class is "Ground/Cliff.png", and the suggested
                                defaultSpriteLocation is column 4, row 0.
                            </li>
                        </ul>
                    </li>
                    <li>
                        Override the <code>collideWithDynamicObject</code> method to have the following behavior:
                        <ul>
                            <li>Firstly, resolve the collision exactly as the base Wall class does. You can do this by
                                calling <code>super.collideWithDynamicObject</code>
                            </li>
                            <li>
                                If the DynamicGameObject is on top of the wall, set its y-velocity to 0 and use
                                the <code>setOnGround</code> method to mark the object as being on the ground.
                                <ul>
                                    <li>
                                        A DynamicGameObject is considered to be on top of the wall if its y-location is above
                                        the Wall's y-location and the object is partially overlapping in the x-dimension (i.e.
                                        the object's left side or the object's right side is within the range of the Wall)
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Otherwise, if the DynamicGameObject's y-location is below or equal to the top of the wall
                                and is partially overlapping in the x-dimension, set the object's y-velocity to 0.
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <code>Platform</code> (<code>app.games.platformerobjects.Platform</code>)
                <ul>
                    <li>Create a class called Platform that extends Wall.</li>
                    <li>
                        Write a constructor that takes in two ints representing the x and y location of the
                        Platform. These should be passed into the super constructor.
                        <ul>
                            <li>
                                The suggested spriteSheetFilename for this class is "Ground/Cliff.png", and the suggested
                                defaultSpriteLocation is column 5, row 5.
                            </li>
                        </ul>
                    </li>
                    <li>
                        Override the <code>collideWithDynamicObject</code> method to have the following behavior:
                        <ul>
                            <li>
                                If the DynamicGameObject is on the ground, use the Wall class's collision logic
                                and set the y velocity to 0
                            </li>
                            <li>
                                If the DynamicGameObject is higher than the Platform, and is moving downward (ie. y 
                                velocity is positive), use the Wall class's collision logic, set the y velocity to 0,
                                and use the <code>setOnGround</code> method to mark the object as being on the ground
                            </li>
                            <li>
                                If none of these apply, don't do anything. The correct behavior of this method is that
                                DynamicGameObjects will be able to jump through the bottom of the floor but still walk
                                and jump on top.
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <code>Spike</code> (<code>app.games.platformerobjects.Spike</code>)
                <ul>
                    <li>
                        Write a constructor that takes in two ints representing the x and y location of the
                        Spike. These should be passed into the super constructor.
                        <ul>
                            <li>
                                The suggested spriteSheetFilename for this class is "User Interface/UiIcons.png", and the suggested
                                defaultSpriteLocation is column 2, row 10.
                            </li>
                        </ul>
                    </li>
                    <li>
                        Override the <code>collideWithDynamicObject</code> method to have the following behavior:
                        <ul>
                            <li>If the colliding object is a Player, call the <code>destroy</code> method on it.
                            Otherwise, do nothing</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <code>PlatformerLevel</code> (<code>app.games.platformerobjects.PlatformerLevel</code>)
                <ul>
                    <li>Create a class called PlatformerLevel that extends Level.</li>
                    <li>
                        Override the wallOffBoundary method. This should have the exact same behavior as wallOffBoundary
                        in <code>app.gameengine.Level</code>, but with PlatformerWalls rather than Walls.
                    </li>


                    <li>Create a constructor that takes in a Game, an int for width, an int for height, and a String
                    for name in this order. This constructor should:
                        <ul>
                            <li>Call the super constructor with the Game, a PhysicsEngineWithGravity object, the width, the height, and the name in this order.
                                When creating the PhysicsEngineWithGravity object, use a gravity of 25
                            </li>
                            <li>
                                Assign the inherited instance variable <code>gameControls</code> with a new PlatformerMovement object.
                                <ul>
                                    <li>
                                        The PlatformerMovement is already written in the handout. You should pass in the game as the first parameter,
                                        the default movement speed as the second parameter, and the default jump speed as the third.
                                    </li>
                                    <li>
                                        The default movement speed should be 5.0, and the default jump speed should be 14.0.
                                    </li>
                                </ul>
                            </li>
                            <li>Call the WallOffBoundary method.</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

        <p>
            Finally, you will create a new Game subclass that will be used to play Levels using these new features.
            You're welcome to create your own Levels, but we will also be providing Levels via the course
            Piazza.
        </p>

        <ul>
            <li>
                <code>Game</code> (<code>app.gameengine.Game</code>)
                <ul>
                    <li>Move the Level functionality added in the previous task in SampleTopDownGame to the base game class.</li>
                    <li>This will include the instance variable, addLevel, getLevelList, advanceLevel, and removeLevelByName.</li>
                </ul>

            </li>
            <li><code>PlatformerGame</code> (<code>app.games.PlatformerGame</code>)
                <ul>
                    <li>Make a new class called PlatformerGame that extends the Game class.</li>
                    <li>
                        Override the init method to add levels to the game. This can be done
                        using the inherited addLevel method.
                        <ul>
                            <li>
                                You have the freedom to add whatever levels you'd like to this game. The actual
                                content of the Level list will not be considered except that it exists.
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>




        <p>
            Note: You can see feedback in Autolab for your testing utilities and tests without completing the
            programming portion of
            this task, but you must at least create every method from this specification. You can "stub
            out"
            these methods by having them always return a fixed value, but they must exist so the grading code,
            and your tests, can compile and run.
        </p>

        <br/>
        <hr/>
        <h3>Testing Utilities</h3>
        <hr/>

        <p>
        There is no testing utility for this task.
        </p>

        <br/>
        <hr/>
        <h3>
            Testing Requirements
        </h3>
        <hr/>

        <p>Create a class named <code>TestTask3</code> in the <code>tests</code> package.</p>

        <p>Note: As with task 1, use Player objects in place of DynamicGameObjects where required.</p>

        <p>You will write tests for the following functionality from the specification:</p>

        <ul>
            <li>
                <code>Enemy</code>
                <ul>
                    <li>
                        <code>collideWithDynamicObject</code>. You must verify that this method deals the correct damage
                        to the player and applies invincibility frames correctly. It must also not deal damage or apply
                        invincibility frames to objects that are not the player
                    </li>
                </ul>
            </li>
            <li>
                <code>Potion</code>
                <ul>
                    <li>
                        <code>collideWithDynamicObject</code>. You must verify that the potion heals/deals the correct
                        amount of damage, and that it destroys itself after. You must also verify that it only does this
                        to player objects
                    </li>
                </ul>
            </li>
            <li>
                <code>PhysicsEngineWithGravity</code>
                <ul>
                    <li>
                        <code>updateObject</code>. Verify that the velocity and location of the input object are
                        correctly updated
                    </li>
                </ul>
            </li>
            <li>
                <code>PlatformerWall</code>
                <ul>
                    <li><code>collideWithDynamicObject</code>. You do not need to test that the position
                    is being updated correctly (as you know the base Wall class is already functional). You
                    only need to test that the velocity and isOnGround is getting set correctly.</li>
                </ul>
            </li>
            <li>
                <code>Platform</code>
                <ul>
                    <li>
                        <code>collideWithDynamicObject</code>. As with PlatformerWall, you can assume that the basic
                        collision works as intended. You must test that the velocity and isOnGroudn are being set
                        properly. You must also test that collision is only applied when it should be. That is, check
                        that collision is not applied when the object is in the air
                    </li>
                </ul>
            </li>
            <li>
                <code>Spike</code>
                <ul>
                    <li><code>collideWithDynamicObject</code>. Verify that the colliding object is destroyed if and only
                        if it is a Player object
                        <ul>
                            <li>
                                Note that you have access to the inherited <code>isDestroyed</code> method from the
                                GameObject class.
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

        <br/>
        <hr/>
        <h3>
            Programming Requirements
        </h3>
        <hr/>

        <p>
            Implement all the functionality from the specification.
        </p>


        <br/>
        <hr/>
        <h3>Autolab Feedback</h3>
        <hr/>

        <p>
            The feedback in Autolab will be given in 3 phases. If you don't complete a phase, then feedback for
            the following phase(s) will not be provided.
        </p>

        <ol>
            <li>Running your tests on a correct solution
                <ul>
                    <li>Your tests will be run against a solution that is known to be correct. If your tests do
                        not pass this correct solution, there is an error somewhere in your tests that must be
                        fixed
                        before you can move on with the assignment. If your tests don't get past this check, you
                        should re-read this document and make sure you implemented your tests and code according
                        the specification. You should also make sure that if there are multiple correct outputs
                        to the input in your tests cases that you accept any of the outputs as correct
                    </li>
                </ul>
            </li>
            <li>Checking your tests for feature coverage
                <ul>
                    <li>
                        The next phase is to check if your tests check for a variety of features defined by
                        different inputs. You should write at least one test case for each feature to pass this
                        phase
                    </li>
                    <li>
                        Passing this phase does not necessarily mean that your testing is completely thorough.
                        Satisfying Autolab is the bare minimum testing requirement. Not all possible inputs are
                        checked, and it is sometimes possible to pass this phase
                        with weak testing. If you are struggling to earn credit for code that you believe
                        is correct, you should write more than the required tests
                    </li>
                </ul>
            </li>
            <li>Running my tests on your solution
                <ul>
                    <li>
                        Once Autolab is happy with your tests, it will run my tests against your code to check
                        it for correctness. If your testing is thorough, and your code passes your tests, then
                        you should pass this phase. If you pass your tests, but fail one of mine, it is an
                        indicator that you should write more tests to help expose your bug
                    </li>
                </ul>
            </li>
        </ol>

        <p>
            Once you complete all 3 phases, you will have completed this Task and Autolab will confirm this
            with a score of 1.0 for complete.
        </p>
    </div>
{% endblock %}
