{% extends 'hw/hw.html' %}

{% block title %}CSE116: Task 4{% endblock %}

{% block header %}
    <h1>Coding Task 4 - Binary Trees</h1>
    <hr/>
    <h5>Time Estimate: 14 hours</h5>
    <hr/>
{% endblock %}

{% block task %}

    <div class="card-header section-testing">
        <div>Requirements</div>
    </div>

    <div class="section-card card-testing hw-content">

        <hr/>


        <h3>
            Project Structure
        </h3>

        <hr/>
        <p>
            You will continue to add functionality to your existing project from the previous task. There is
            no new repository to clone.
        </p>

        <hr/>
        <h3>Specification</h3>
        <hr/>

        <p>
            In this task, you will implement the following specs. Once all of these are complete, your enemies will have
            an AI that allows them to make decisions based on their surrounding environment.
        </p>
        <ul>
            <li>
                Before we begin with the AI implementation, there are some additional features we will need to add
                to the game to make it more "game-like".
            </li>
            <li>
                <code>DynamicGameObject</code> - Invincibility Frames (<code>app.gameengine.model.gameobjects.DynamicGameObject</code>)
                <ul>
                    <li>
                        In game development, invincibility frames (Or i-frames) are a short period of time when players
                        become immune
                        to
                        taking damage. They're used to prevent players from constantly taking damage every frame from
                        the
                        same source without having the opportunity to escape danger. In this part of the task, you will
                        implement invincibility frames for the players so that enemies can now deal the proper amount of
                        damage
                    </li>
                    <li>
                        Add an instance variable of type <code>double</code> to the <code>DynamicGameObject</code> class
                        representing the amount of
                        time remaining on their invincibility frame timer in seconds. This should be initialized to 0.0
                        since
                        i-frames will not start until triggered by a game action (ie. The player getting hit by an
                        enemy). Add getters and setters for this instance variable named
                        <code>getInvincibilityFrames</code> and <code>setInvincibilityFrames</code>
                    </li>
                    <li>
                        Override the <code>update</code> method that was inherited from the <code>GameObject</code>
                        class
                        <ul>
                            <li>
                                Your overridden method should begin with a call to the superclass' update method since
                                we
                                still want the functionality of the super class. Pass the parameters of this method as
                                the arguments for the super method call
                            </li>
                            <li>
                                This method should then subtract the invincibility time (The instance variable you just
                                created) by the change in time (dt from the parameter of this method),
                                where dt
                                is the number of seconds elapsed since the last time update was called. Note that the
                                game
                                runs at 60 fps (frames per second) so dt should be about 0.0167 seconds when it's called
                                during gameplay. This number can be different during testing.
                            </li>
                            <li>This method should then check if the object's hp is 0 or less. If it is, call its
                                <code>destroy</code> method
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <code>Projectile</code> (<code>app.games.topdownobjects.Projectile</code>)
                <ul>
                    <li>
                        Modify the existing overridden <code>collideWithDynamicObject</code> method in
                        <code>Projectile</code> to
                        deal
                        damage to the other object rather than destroying them. (Replace the call to
                        <code>otherObject.destroy</code> with <code>otherObject.takeDamage</code>.) Use the
                        projectile's damage instance variable in your call to takeDamage
                    </li>
                    <li>
                        Be sure to still destroy the projectile itself when it hits an object
                    </li>
                </ul>
            </li>
            <li>
                <code>Enemy</code> (<code>app.games.topdownobjects.Enemy</code>)
                <ul>
                    <li>
                        Modify the existing overridden <code>collideWithDynamicObject</code> method to deal damage to
                        the
                        player rather than destroying them. The amount of damage dealt (By calling the takeDamage
                        method)
                        should be equal to the enemy's strength instance variable.
                        <ul>
                            <li>
                                Your method should check if the player has more than 0.0 seconds left on their
                                invincibility frames timer (by calling the corresponding getter). If so,
                                the
                                method should do nothing. If the player doesn't have any invincibility time left, you
                                should
                                have the Player take damage equal to the enemy's strength instance, then set the
                                amount of invincibility time to 0.5 seconds
                            </li>
                        </ul>
                    </li>
                    <li>
                        Move the instance variable for the enemy's path you made in task 2 into
                        <code>DynamicGameObject</code>, along with the getter <code>getPath</code> and setter
                        <code>setPath</code>. Since Enemy extends DynamicGameObject, this should not have any effect
                        on the game because of the power of inheritance. At this point, you should also call
                        <code>super.update</code> in your update method, so that we can make use of the update function
                        we
                        just wrote for DynamicGameObject to destroy the object if it's health falls below 0.
                    </li>
                    <li>
                        Modify your <code>update</code> method to call the super classes <code>update</code> method with
                        this method's parameters as the arguments. You will also have to modify the rest of this method
                        using the getter and setter for the path variable if you accessed the variable directly (Or
                        make the variable <code>protected</code> in the <code>DynamicGameObject</code> class which uses
                        magic that you probably didn't hear about in lecture [yet])
                    </li>
                </ul>
            </li>

        </ul>

        <p>
            Now, you should be able to run into enemies and watch your health go down in the UI without instantly
            being reset to the beginning of the level. You should also be able to shoot enemies and have them take
            damage
            rather than dying right away.
        </p>

        <p>
            Now let's start working with trees. For the rest of this task, you will build a decision tree for the AI
            of the enemies. Each node of the tree will either make a decision (Move to the left or right child), or
            take an action (when we reach a leaf of the tree, a node with no children). You'll create a variety of new
            classes to implement this functionality.
        </p>

        <ul>
            <li><code>Decision</code> (<code>app.gameengine.model.ai</code>)
                <ul>
                    <li>In the <code>ai</code> package, create a new class named <code>Decision</code></li>
                    <li>Create a constructor that takes a String as a parameter representing the decision's name and
                        store this value in an instance variable
                    </li>
                    <li>
                        Create a getter and setter <code>getName</code> and <code>setName</code> for the name instance
                        variable.
                        This name will be used when testing and debugging your decision tree
                    </li>
                    <li>
                        Create a method named <code>decide</code> that returns a boolean and takes in a reference to a
                        <code>DynamicGameObject</code>, <code>Level</code>, and a <code>double</code> dt (in this
                        order). This method should be blank initially (just return false). You will be overriding this
                        method using inheritance
                        <ul>
                            <li>
                                This is the method that will be called when deciding to move left or right in the
                                decision tree if the node is an internal node (Not a leaf)
                            </li>
                        </ul>
                    </li>
                    <li>
                        Create a method named <code>doAction</code> that returns void and takes in a reference to a
                        <code>DynamicGameObject</code>, <code>Level</code>, and a <code>double</code> dt (again, in this
                        order). This method should be blank and will also be overridden using inheritance
                        <ul>
                            <li>
                                This is the method that will be called to take the action that has been deciding after
                                reaching a leaf node
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><code>DecisionTree</code> (<code>app.gameengine.model.ai</code>)
                <ul>
                    <li>In the <code>ai</code> package, create a new class named <code>DecisionTree</code></li>
                    <li>
                        Create a constructor that takes in a <code>BinaryTreeNode&lt;Decision&gt;</code> and store it in
                        an
                        instance variable
                    </li>
                    <li>
                        Create a
                        getter
                        <code>getTree</code> and a setter <code>setTree</code> for that instance variable
                    </li>

                    <li>
                        Create a method named <code>traverse</code> that returns a reference to a <code>Decision</code>
                        and
                        takes
                        a <code>BinaryTreeNode&lt;Decision&gt;</code>, <code>DynamicGameObject</code>,
                        <code>Level</code>,
                        and <code>double</code> dt as parameters (In this order)
                        <ul>
                            <li>
                                This method will traverse through the tree <b>in the parameter</b> (Not the tree in your
                                instance variable), making decisions to go left or right by calling
                                <code>decide</code> on the value of each tree node. A value of true indicates that you
                                should "travel" to the right child node, and a value of false means travel to the left
                                child node. When a leaf node is
                                reached (A node where both left and right children are null), the <code>Decision</code>
                                value at that node should be returned. Keep in mind that the node in
                                the parameter itself might be a leaf node
                            </li>
                            <li>
                                When calling <code>decide</code>, pass the required argument using the parameters of
                                this method
                            </li>
                            <li>
                                If no leaf node is reached, the method should return null to indicate that something
                                went wrong. This can happen if the tree is empty, or if the tree has a node with only
                                one child (eg. The tree only has a left node so it's not a leaf, but it tells you to
                                travel right which is null)
                            </li>
                        </ul>
                    </li>
                    <li>
                        Create a second (overloaded) <code>traverse</code> method that returns void and takes a
                        <code>DynamicGameObject</code>,
                        <code>Level</code>, and <code>double</code> dt as parameters (In that order). This method
                        will call the traverse method you wrote previously with the instance variable tree as the first
                        argument and all the parameters of this method as the remaining arguments.
                        Then call <code>doAction</code> on the returned <code>Decision</code>, again using the
                        parameters of this method as arguments
                    </li>
                    <li>
                        Create a method <code>reverse</code> that returns void and takes a reference to a
                        <code>BinaryTreeNode&lt;Decision&gt;</code> as a parameter
                        <ul>
                            <li>
                                This method will reverse the binary tree, switching the left and right nodes all the way
                                down the tree. Meaning that every single node's left and right children should be
                                switched
                            </li>
                            <img style="max-width: 100%; height: auto" src="/static_files/images/binary_tree.png"
                                 alt="Example image of reversing a binary tree">
                            <li>
                                This method can allow you to "confuse" an enemy--Instead of making the enemy heal when
                                they
                                have low HP and move towards the player when they're not low on HP, you can make the
                                enemy
                                move towards the player on low HP and heal when they're not on low HP. (This will make
                                sense
                                when you get to the next part of the handout)
                            </li>
                        </ul>
                    </li>
                    <li>
                        Create a second (overloaded) <code>reverse</code> method that returns void and takes no
                        parameters. This method
                        will call the reverse method you wrote previously with the instance variable tree as the
                        argument
                    </li>
                </ul>
            </li>
            <li>Decision child classes (<code>app.gameengine.model.ai</code>)
                <ul>
                    <li>
                        Write the following classes in the <code>ai</code> package. While the amount of classes
                        here may seem daunting, each class, ignoring all the imports and class declaration boilerplate,
                        should
                        only have 1-7 lines of code; Try not to overthink these classes.
                    </li>
                    <li>
                        Decisions will be written such that they <strong>only override <em>one</em> of
                        decide/doAction</strong>.
                        The nodes that override doAction will be placed in your tree as leaf nodes, and the nodes that
                        override decide will be placed in your tree with two child nodes. This will allow us to give
                        enemies complex behavior based on their surroundings.
                        <ul>
                            <li><code>LowHP</code>
                                <ul>
                                    <li>
                                        Create the <code>LowHP</code> class that extends <code>Decision</code>. Add a
                                        constructor that takes in a String for the name (so that the super constructor
                                        may be
                                        called) and an int representing the HP the enemy should have before it's
                                        considered
                                        "low" on HP. You should make an instance variable to store this value.
                                    </li>
                                    <li>
                                        This will override <code>decide</code> and return true if the
                                        DynamicGameObject's
                                        health is less than or equal to the Decision's low HP threshhold.
                                    </li>
                                </ul>
                            </li>
                            <li><code>NearPlayer</code>
                                <ul>
                                    <li>
                                        Create the <code>NearPlayer</code> class that extends <code>Decision</code>. Add
                                        a
                                        constructor that takes in a String for the name (so that the super constructor
                                        may be
                                        called) and a double representing the acceptable distance that this node should
                                        use. You
                                        should make an instance variable to store this distance.
                                    </li>
                                    <li>
                                        This will override the <code>decide</code> method and return true if the
                                        distance
                                        between the DynamicGameObject and the player is less than or equal to the
                                        acceptable
                                        distance instance variable and false otherwise. (Hint: use the Pythagorean
                                        theorem/Euclidean Distance to determine distance!)
                                    </li>
                                </ul>
                            </li>
                            <li><code>TargetingPlayer</code>
                                <ul>
                                    <li>
                                        Create the <code>TargetingPlayer</code> class that extends <code>Decision</code>.
                                        Add a
                                        constructor that takes in a String for the name (so that the super constructor
                                        may be
                                        called) and a double representing the distance the player can stray from where
                                        the
                                        DynamicGameObject is targeting. You should make an instance variable to store
                                        this distance.
                                    </li>
                                    <li>
                                        This will override the <code>decide</code> method and will return true if the
                                        distance from the DynamicGameObject's target destination (the tail node of their
                                        path) to the player's current location is less than or equal to the distance
                                        instance variable and false otherwise.
                                    </li>
                            </li>
                        </ul>
                    <li><code>MoveTowardPlayer</code>
                        <ul>
                            <li>
                                Create the <code>MoveTowardPlayer</code> class that extends <code>Decision</code>. Add a
                                constructor that takes in a string for the name and call the super constructor;
                                there is no additional instance variables you will need.
                            </li>
                            <li>
                                This will override the <code>doAction</code> method and should make the
                                DynamicGameObject move towards the player. (Hint: you should move all your
                                <code>update</code> code in Enemy from task 2 to this method)
                            </li>
                        </ul>
                    </li>
                    <li><code>Heal</code>
                        <ul>
                            <li>
                                Create the <code>Heal</code> class that extends <code>Decision</code>. Add a constructor
                                that takes in a String for the name (so that the super constructor may be called), an
                                int representing the health to heal, and a double representing the cooldown before
                                healing. You should make 2 instance variables to store these.
                            </li>
                            <li>
                                This will override the <code>doAction</code> method and should heal the
                                DynamicGameObject once the cooldown expires. (Hint: You should create a separate
                                instance variable to count the amount of time elapsed, and heal the object when that
                                amount exceeds the cooldown)
                            </li>
                            <li>
                                Additional considerations:
                                <ul>
                                    <li>
                                        While it is not required, you may wish to change the sprite of the
                                        DynamicGameObject while it's healing. To do this, you can take a look at how
                                        animations are handled in <code>app.gameengine.controller.WASDMovement</code>
                                        and
                                        <code>app.gameengine.model.gameobjects.Player</code>
                                    </li>
                                    <li>
                                        Again, this is by no means required to complete the task and get credit on
                                        autolab, but it can be a fun rabbithole to go down and can make your game feel
                                        more like your own.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><code>RecalculatePath</code>
                        <ul>
                            <li>
                                Create the <code>RecalculatePath</code> class that extends <code>Decision</code>. Add a
                                constructor that takes in a string for the name and call the super constructor;
                                there is no additional instance variables you will need.
                            </li>
                            <li>
                                This will override the <code>doAction</code> method and should set the
                                DynamicGameObject's velocity to 0 and recalculate the DynamicGameObject's path. (Set
                                their path to the result of Pathfinding.findPath)
                            </li>
                        </ul>
                    </li>
                    <li><code>RunAway</code>
                        <ul>
                            <li>
                                Create the <code>RunAway</code> class that extends <code>Decision</code>. Add a
                                constructor that takes in a string for the name and call the super constructor;
                                there is no additional instance variables you will need.
                            </li>
                            <li>
                                This will override the <code>doAction</code> method and will do the same as what
                                <code>MoveTowardsPlayer</code> does, but the velocity should be reversed (multiplied by
                                -1)
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        </li>
        <li><code>DynamicGameObject</code> - DecisionTree implementation
            <ul>
                <li>
                    Now that you have implemented your decision tree, you can implement it into your game! You should
                    give DynamicGameObject a <code>DecisionTree</code> instance variable, along with a getter
                    <code>getDecisionTree</code> and a setter <code>setDecisionTree</code>. Modify the
                    <code>update</code> method to call <code>traverse</code> on the DynamicGameObject's instance
                    variable (the <code>DynamicGameObject</code> parameter in traverse should be <code>this</code>.)
                    Then, in the constructor for <code>Enemy</code>, you can set the decision tree to whatever you would
                    like.
                    <ul>
                        <li>
                            Feel free to get creative! Experiment around, try to come up with interesting behaviors for
                            enemies. Keep an eye out on piazza, because we will be sharing some DecisionTrees and
                            Decisions of our own that you can add to your game.
                        </li>
                        <li>
                            If you want to give each Enemy in the level different behavior, you may change the game code
                            (<code>app.games.SampleTopDownGame</code>) for each level to call <code>setTree</code> when
                            enemies are created in the level. Again, have fun with this! :)
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        </ul>


        <p>
            Note: You can see feedback in Autolab for your tests without completing the programming portion of this
            task,
            but you must at least create every clas/method from this specification. You can "stub out" these methods by
            having them always return a fixed value, but they must exist so the grading code, and your tests, can
            compile
            and run.
        </p>

        <br/>
        <hr/>
        <h3>Testing Utilities</h3>
        <hr/>

        <p>
            Write a public <b>static</b> method named <code>compareDecisionTree</code> that returns void and takes two
            <code>BinaryTreeNode</code> of <code>Decision</code>s as parameters. This method should fail a junit assert
            if the
            two
            trees are not equal and do nothing if they are equal. You should compare the inner <code>Decision</code>
            value's <code>getName</code> method to check for equality. Two nodes are considered equal, according to this
            method, as long as their names are the same.
        </p>

        <br/>
        <hr/>
        <h3>
            Testing Object
        </h3>
        <hr/>

        <p>
            If you would like, you may create a new class in your <code>tests</code> package that extends
            <code>Decision</code>. You can override whatever you need to in your testing to give this object the
            behavior
            you want. The point of this object is to make your testing easier so you can use asserts on just the object
            rather than testing on enemies.
        </p>

        <p>
            It is recommended that you override the constructor to give your testing object some additional state. You
            can then use this additional state in your <code>decide</code> method to determine whether or not you should
            go left or right.
        </p>

        <p>
            This is not required and will not be tested on autolab, but it is recommended that you do this as it will
            make
            your testing significantly easier.
        </p>

        <br/>
        <hr/>
        <h3>
            Testing Requirements
        </h3>
        <hr/>

        <p>Create a class named <code>TestTask4</code> in the <code>tests</code> package.</p>


        <p>You will write tests for the following functionality from the specification:</p>

        <ul>
            <li>
                Write tests for the <code>traverse</code> & <code>reverse</code> methods in the
                <code>DecisionTree</code>
                class
                <ul>
                    <li>
                        When testing <code>traverse</code>, you should test the method that takes in the
                        <code>BinaryTreeNode</code> as a parameter. The traverse method without this parameter returns
                        void, so you cannot test that method.
                    </li>
                </ul>
            </li>
        </ul>

        <p>
            While you are not required to use your testing utility and test object, it is recommended. They
            will make your tests considerably easier to write.
        </p>

        <br/>
        <hr/>
        <h3>
            Programming Requirements
        </h3>
        <hr/>

        <p>
            Implement all the functionality from the specification.
        </p>


        <br/>
        <hr/>
        <h3>Autolab Feedback</h3>
        <hr/>

        <p>
            The feedback in Autolab will be given in 4 phases. If you don't complete a phase, then feedback for
            the following phase(s) will not be provided.
        </p>

        <ol>
            <li>Testing your testing utility method
                <ul>
                    <li>
                        Your testing utility method will be checked with a variety of test cases to ensure that
                        they make all the required checks. This phase will ensure that your utility method is accurate
                        before you start using it in your tests
                    </li>
                </ul>
            </li>
            <li>Running your tests on a correct solution
                <ul>
                    <li>Your tests will be run against a solution that is known to be correct. If your tests do
                        not pass this correct solution, there is an error somewhere in your tests that must be
                        fixed
                        before you can move on with the assignment. If your tests don't get past this check, you
                        should re-read this document and make sure you implemented your tests and code according
                        the specification. You should also make sure that if there are multiple correct outputs
                        to the input in your tests cases that you accept any of the outputs as correct
                    </li>
                </ul>
            </li>
            <li>Checking your tests for feature coverage
                <ul>
                    <li>
                        The next phase is to check if your tests check for a variety of features defined by
                        different inputs. You should write at least one test case for each feature to pass this
                        phase
                    </li>
                    <li>
                        Passing this phase does not necessarily mean that your testing is completely thorough.
                        Satisfying Autolab is the bare minimum testing requirement. Not all possible inputs are
                        checked, and it is sometimes possible to pass this phase
                        with weak testing. If you are struggling to earn credit for code that you believe
                        is correct, you should write more than the required tests
                    </li>
                </ul>
            </li>
            <li>Running my tests on your solution
                <ul>
                    <li>
                        Once Autolab is happy with your tests, it will run my tests against your code to check
                        it for correctness. If your testing is thorough, and your code passes your tests, then
                        you should pass this phase. If you pass your tests, but fail one of mine, it is an
                        indicator that you should write more tests to help expose your bug
                    </li>
                </ul>
            </li>
        </ol>

        <p>
            Once you complete all 4 phases, you will have completed this Task and Autolab will confirm this
            with a score of 1.0 for complete.
        </p>
    </div>
{% endblock %}
