{% extends 'hw/hw.html' %}

{% block title %}CSE116: Task 1{% endblock %}

{% block header %}
<h1>Coding Task 0</h1>
<hr />
<h5>Time Estimate: 5 hours</h5>
<hr />
{% endblock %}

{% block task %}

<div class="card-header section-testing">
    <div>Requirements</div>
</div>

<div class="section-card card-testing hw-content">

    <hr />
    <h3>
        Project Structure
    </h3>
    <hr />

    <p>
        GitHub Repository link: <a
            href="https://github.com/CSE-116/ProblemSet">https://github.com/CSE-116/ProblemSet</a>
    </p>
    <ol>
        <li>Clone the starter code from the repository into a new IntelliJ project</li>
    </ol>
    <p>
        Once you have the project opened in IntelliJ, you'll see a src folder containing 2
        Java packages named problem and tests. Your code for this Task will go in the
        problem.ProblemSet class, while testing is provided for you in tests.TestProblemSet.
    </p>
    <p>
        To submit your project, create a zip file containing your entire project and
        submit it to Autolab. (Click file -> export -> Project to Zip File, though there may be
        slight differences to this across OSes and versions). If this option is not available, you may need to install
        the "Android" plugin through the settings menu
    </p>

    <br />
    <hr />

    <h3>
        Testing Requirements
    </h3>

    <hr />
    <p>
        This task does not require you to write any tests. tests/TestProblemSet contains tests that you can use to
        verify the correctness of your code. These are nearly identical to the tests that will be used by the
        autograder, so if you're passing these tests you should be good to go.
    </p>
    <p>
        You can run these tests just like a Java file with a main method (Right-click the file and choose run) and you
        will see feedback about which test cases you've passed/failed. Once you pass all test cases, you're ready to
        submit to Autolab.
    </p>
    <p>
        Some of these tests have been commented out so that the project will compile. You can uncomment the tests as you
        get to these methods. You can highlight multiple lines and press control+/ (command+/ on mac) to quickly comment multiple lines in/out
    </p>

    <br />
    <hr />

    <h3>
        Programming Requirements
    </h3>

    <hr />
    <p>
        For this task you will implement nine methods, as described below. All of these methods will be public and
        static, and all
        of them should be implemented in the problem.ProblemSet class. You can, and should, run the tests you have
        been given while completing your code to check if it is correct.
    </p>
    <p>
        You should be able to complete each of these problems using previous knowledge and skills; this assignment is
        simply meant to get you comfortable with Java syntax and familiar with how the programming tasks work in this
        course.
    </p>

    <ol>
        <li><code>checkSign</code>
            <ul>
                <li>
                    This method takes a single int as a parameter and returns a String representing the numeric sign
                    of the input
                </li>
                <li>
                    This String must be exactly "positive", "negative", or "zero", and is case-sensitive
                </li>
                <li>
                    Examples:
                    <ul>
                        <li>checkSign(5) returns "positive"</li>
                        <li>checkSign(-2) returns "negative"</li>
                        <li>checkSign(0) returns "zero"</li>
                    </ul>
                </li>
            </ul>
        </li>

        <li><code>greatestNumber</code>
            <ul>
                <li>
                    This method takes three doubles as parameters and returns the double with the highest value
                </li>
                <li>
                    Examples:
                    <ul>
                        <li>greatestNumber(5.0, 10.0, 15.0) returns 15.0</li>
                        <li>greatestNumber(0.0, -2.0, -1.5) returns 0.0</li>
                        <li>greatestNumber(2.5, 2.3, 2.5) returns 2.5</li>
                    </ul>
                </li>
            </ul>
        </li>

        <li><code>longestStringIndex</code>
            <ul>
                <li>
                    The longestStringIndex method has one parameter which is an ArrayList of Strings, and returns the
                    index in that ArrayList of the String with the greatest length
                </li>
                <li>
                    If the ArrayList is empty, this method should return -1, to signify that there were no valid indices
                </li>
                <li>
                    If there are multiple Strings which share the greatest length, any of their indices can be returned
                    and will be accepted by the tests
                </li>
                <li>
                    Examples:
                    <ul>
                        <li>longestStringIndex(["a", "abc", ""]) returns 1</li>
                        <li>longestStringIndex([]) returns -1</li>
                        <li>longestStringIndex(["harmonica", "cat", "something"]) returns 0 or 2</li>
                    </ul>
                </li>
            </ul>
        </li>

        <li><code>average</code>
            <ul>
                <li>
                    The average method will take an ArrayList of Doubles as a parameter and returns the average of the
                    values in the ArrayList as a double
                </li>
                <li>
                    If the ArrayList is empty, the method should return 0.0
                </li>
                <li>
                    Examples:
                    <ul>
                        <li>average([1.0, 2.0, 3.0]) returns 2.0</li>
                        <li>average([-5.0, 5.0]) returns 0.0</li>
                        <li>average([6.5, 6.5, 8.5, 8.5]) returns 7.5</li>
                        <li>average([]) returns 0.0</li>
                    </ul>
                </li>
            </ul>
        </li>

        <li><code>firstNInts</code>
            <ul>
                <li>
                    This method takes a single int n as an argument and returns an ArrayList of Integers
                    representing the first n natural numbers, starting with 1
                </li>
                <li>
                    This means that if n is 0, the returned ArrayList should be empty
                </li>
                <li>
                    Additionally, if n is negative, the returned ArrayList should also be empty
                </li>
                <li>
                    Examples:
                    <ul>
                        <li>firstNInts(1) returns [1]</li>
                        <li>firstNInts(5) returns [1, 2, 3, 4, 5]</li>
                        <li>firstNInts(0) returns []</li>
                        <li>firstNInts(-10) returns []</li>
                    </ul>
                </li>
            </ul>
        </li>


        <li class="h"><code>farts</code>
            <ul>
                <li>
                    The farts method will take an int and return that int
                </li>
                <li>
                    The sign of a number is ignored, i.e. -5 is treated the same as 5
                </li>
                <li>
                    Examples:
                    <ul>
                        <li>farts(123) returns 123</li>
                        <li>farts(57) returns 57</li>
                        <li>farts(-36) returns -36</li>
                    </ul>
                </li>
            </ul>
        </li>

        <li value="6"><code>sumOfDigits</code>
            <ul>
                <li>
                    The sumOfDigits method will take an int as a parameter and returns the sum of the digits of the
                    input as an int
                </li>
                <li>
                    The sign of a number is ignored, i.e. -5 is treated the same as 5
                </li>
                <li>
                    Examples:
                    <ul>
                        <li>sumOfDigits(123) returns 6</li>
                        <li>sumOfDigits(57) returns 12</li>
                        <li>sumOfDigits(-36) returns 9</li>
                    </ul>
                </li>
            </ul>
        </li>

        <li><code>bestKey</code>
            <ul>
                <li>
                    The bestKey method will take a HashMap of Strings to Integers as a parameter and returns the key
                    which maps to the largest Integer
                </li>
                <li>
                    If the HashMap is empty, the method should return the empty String
                </li>
                <li>
                    The method may break ties arbitrarily, meaning that if two keys are mapped to the same highest
                    value, either can be returned. The tests provided ensure that any valid solution will be accepted
                </li>
                <li>
                    Examples:
                    <ul>
                        <li>bestKey({"CSE": 100, "MTH": 90, "MGT": 10}) returns "CSE"</li>
                        <li>bestKey({"cat": 5, "dog": 5, "fox": 4}) can return either "cat" or "dog"</li>
                        <li>bestKey({}) returns ""</li>
                    </ul>
                </li>
            </ul>
        </li>

        <li><code>squareNumbers</code>
            <ul>
                <li>
                    The squareNumbers method takes an ArrayList of Integers as a parameter and returns a HashMap of
                    Integer to Integer. The keys of this HashMap will be the elements of the input ArrayList, and the
                    value corresponding to each key is that element squared
                </li>
                <li>
                    If the input is an empty ArrayList, the output should be an empty HashMap
                </li>
                {# <li>#}
                    {# Do not worry about the case where there are multiple of the same value in the input; this is#}
                    {# considered undefined behavior and will not be tested#}
                    {# </li>#}
                <li>
                    Examples:
                    <ul>
                        <li>squareNumbers([1, 2, 3]) returns {1:1, 2:4, 3:9}</li>
                        <li>squareNumbers([-5, 4, 0]) returns {-5:25, 4:16, 0:0}</li>
                        <li>squareNumbers([]) returns {}</li>
                    </ul>
                </li>
            </ul>
        </li>

        <li><code>countOccurrences</code>
            <ul>
                <li>
                    This method takes two parameters, an ArrayList of Integers and an int. It returns the number of
                    times that that int appears in the ArrayList
                </li>
                <li>
                    Examples:
                    <ul>
                        <li>countOccurrences([4], 4) returns 1</li>
                        <li>countOccurrences([1, -5, 1], 1) returns 2</li>
                        <li>countOccurrences([-4, 52, -8, -4], 16) returns 0</li>
                        <li>countOccurrences([], 5) returns 0</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ol>


    <br />
    <hr />

    <h3>Autolab Feedback</h3>

    <hr />
    <p>
        Feedback from autolab will detail which methods you have or have not completed correctly. Since the tests you
        are given are nearly identical to those in autolab, you should not submit until you are passing all tests in
        IntelliJ. Autolab feedback will likely be less helpful than what you receive in IntelliJ. In future tasks,
        where you will write your own tests, the feedback in Autolab will be much more important.
    </p>

    <p>
        Once you have successfully completed all methods, you will have completed this Task and Autolab will confirm
        this
        with a score of 1.0 for complete.
    </p>
</div>
{% endblock %}
