{% extends 'hw/hw.html' %}

{% block title %}CSE116: Task 6{% endblock %}

{% block header %}
<h1>Coding Task 6</h1>
<hr/>
<h5>Time Estimate: 7 hours</h5>
<hr/>
{% endblock %}

{% block task %}

<div class="card-header section-testing">
    <div>Requirements</div>
</div>

<div class="section-card card-testing hw-content">

    <hr/>
    <h3>
        Project Structure
    </h3>
    <hr/>

    <p>
        You will continue to add functionality to your existing project from the previous task. There is
        no new repository to clone.
    </p>


    <br/>
    <hr/>

    <h3>Specification</h3>
    <hr/>

    <p>In this task, you will implement the following specs. Upon completion, you will have implemented a new,
        smarter enemy type that can chase the Player while avoiding obstacles.</p>

    <p>
        Before you can begin this, however, you will need to modify the <code>Vector2D</code> class in the
        <code>app.gameengine.model.physics</code> package to work well with HashMaps, and by extension Graphs. In order
        to achieve this, you must override the <code>equals</code> and <code>hashCode</code> methods that the
        <code>Vector2D</code> class inherits from the <code>Object</code> class. You do not need to, and are not
        expected to, fully understand these methods, however if you wish to understand them an instructor or TA would be
        happy to explain them to you.
    </p>
    <ul>
        <li>
            Implement a method named <code>equals</code>, which takes one parameter of type <code>Object</code> and
            returns a boolean. It should appear as follows:
            <code>
                <pre>
    @Override
    public boolean equals(Object obj) {
        if (this == obj) {
            return true;
        } else if (obj == null || this.getClass() != obj.getClass()) {
            return false;
        }
        Vector2D other = (Vector2D) obj;
        return Math.abs(this.x - other.x) < 1e-9 && Math.abs(this.y - other.y) < 1e-9;
    }
                </pre>
            </code>
        </li>
        <li>
            Implement a method named <code>hashCode</code> which takes no parameters and returns an int. You will also
            need to import <code>java.util.Objects</code>. The method should appear as follows:
            <code>
                <pre>
    @Override
    public int hashCode() {
        return Objects.hash(Math.round(x / 1e-9), Math.round(y / 1e-9));
    }
                </pre>
            </code>
        </li>
    </ul>

    <p>In the <code>app.gameengine.model.ai</code> package, access the <code>Pathfinding</code> class and
        implement the following method:</p>

    <ul>
        <li>
            Implement a <strong>static</strong> method named <code>findPathAvoidWalls</code> that takes in a Level,
            a Vector2D representing starting location, and a Vector2D representing ending location that returns
            a LinkedListNode of Vector2D.
            <ul>
                <li>
                    This method should return a shortest valid path between the tile containing the
                    starting location and the tile containing the ending location such that no point in
                    the returned path shares a location with any StaticGameObject contained in the Level.
                </li>
                <li>
                    This uses the same criteria for a valid path as the previous Pathfinding method: all locations
                    in the path must be aligned to a tile (i.e. whole numbers only) and all tiles must be one tile
                    above, below, to the left, or to the right from the tile preceding and succeeding it.
                    <ul>
                        <li>
                            Recall that this still applies to the starting and ending nodes in the path. The first
                            and last nodes should be the tiles containing the starting and ending location rather than
                            the starting and ending locations themselves.
                        </li>
                        <li>
                            As with Task 2, you should use the <code>Math.floor</code> method for finding the tile that
                            contains a given vector.
                        </li>
                    </ul>
                </li>
                <li>
                    If the start/end location is either not within the Level's boundary or is inside a StaticGameObject,
                    this method should return null.
                </li>
                <li>
                    If there does not exist a valid path between the start and end locations, this method should return
                    null.
                </li>
                <li>
                    Note that as you've seen with the dynamic objects in the previous task, you can also access a
                    Level's static objects in a similar way with the provided getter.
                </li>
            </ul>
        </li>
    </ul>

    <p>
        From here, you will now implement a new Decision and Enemy type that utilizes this pathfinding.
    </p>

    <ul>
        <li>
            In the <code>app.gameengine.model.ai</code> package, create a class named <code>MoveTowardsPlayerAvoidWalls</code>
            that extends <code>Decision</code>.
            <ul>
                <li>Write a constructor that takes in a String that simply calls the super constructor with the provided String.</li>
                <li>
                    Override the <code>doAction</code> method. This method should generate a path for or manipulate the
                    <code>DynamicGameObject</code> from the parameter.
                    <ul>
                        <li>
                            This method should follow the exact same behavior as the <code>doAction</code> method from the
                            <code>MoveTowardsPlayer</code> class, except if it generates a path it should use the output
                            of <code>findPathAvoidWalls</code> instead of <code>findPath</code>.
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            In the <code>app.games.topdownobjects</code> package, create a class named <code>SmartEnemy</code> that extends
            Enemy.
            <ul>
                <li>
                    Write a constructor that takes in a Vector2D representing location. This constructor should:
                    <ul>
                        <li>Call the super constructor with the provided location from the parameter and a strength of 1.</li>
                        <li>
                            Set the decision tree to a new <code>DecisionTree</code> that contains only a <code>MoveTowardsPlayerAvoidWalls</code>
                            decision with no child nodes.
                        </li>
                        <li>
                            Optionally sets the spriteSheetFilename to "Characters/Monsters/Orcs/ArcherGoblin.png" and the defaultSpriteLocation
                            to column 0, row 0.
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

    <p>You may now want to add a new <code>SmartEnemy</code> to some topdown level to view the new behavior you've written.</p>

    <br/>
    <hr/>
    <h3>Testing Utilities</h3>
    <hr/>


    <p>
        There is no testing utility for this task. However, you may find your previously written testing
        utility <code>validatePath</code> helpful. You can access this testing utility by creating a new instance of
        <code>TestTask2</code>.
    </p>


    <br/>
    <hr/>
    <h3>
        Testing Requirements
    </h3>
    <hr/>

    <p>
        Write tests for the <code>findPathAvoidWalls</code> method.
    </p>
    <ul>
        <li>
            Your tests should verify that the path returned by calling this method is valid and of the
            shortest possible length that avoids StaticGameObjects.
        </li>
        <li>
            You will need to create Levels with obstacles for your tests (note that the base Level class is abstract).
        </li>
        <li>
            Since there may be multiple shortest paths that avoid StaticGameObjects, you should not test for
            a specific path to be returned in such cases.
        </li>
    </ul>


    <br/>
    <hr/>
    <h3>
        Programming Requirements
    </h3>
    <hr/>

    <p>
        Implement the methods and classes from the specification. You may find it helpful to write tests for
        <code>findPathAvoidWalls</code> before beginning your implementation.
    </p>


    <br/>
    <hr/>
    <h3>Autolab Feedback</h3>
    <hr/>


    <p>
        The feedback in Autolab will be given in 3 phases. If you don't complete a phase, then feedback for
        the following phase(s) will not be provided.
    </p>

    <ol>
        <li>Running your tests on a correct solution
            <ul>
                <li>Your tests will be run against a solution that is known to be correct. If your tests do
                    not pass this correct solution, there is an error somewhere in your tests that must be
                    fixed
                    before you can move on with the assignment. If your tests don't get past this check, you
                    should re-read this document and make sure you implemented your tests and code according
                    the specification. You should also make sure that if there are multiple correct outputs
                    to the input in your tests cases that you accept any of the outputs as correct
                </li>
            </ul>
        </li>
        <li>Checking your tests for feature coverage
            <ul>
                <li>
                    The next phase is to check if your tests check for a variety of features defined by
                    different inputs. You should write at least one test case for each feature to pass this
                    phase
                </li>
                <li>
                    Passing this phase does not necessarily mean that your testing is completely thorough.
                    Satisfying Autolab is the bare minimum testing requirement. Not all possible inputs are
                    checked, and it is sometimes possible to pass this phase
                    with weak testing. If you are struggling to earn credit for code that you believe
                    is correct, you should write more than the required tests
                </li>
            </ul>
        </li>
        <li>Running my tests on your solution
            <ul>
                <li>
                    Once Autolab is happy with your tests, it will run my tests against your code to check
                    it for correctness. If your testing is thorough, and your code passes your tests, then
                    you should pass this phase. If you pass your tests, but fail one of mine, it is an
                    indicator that you should write more tests to help expose your bug
                </li>
            </ul>
        </li>
    </ol>

    <p>
        Once you complete all 3 phases, you will have completed this Task and Autolab will confirm this
        with a score of 1.0 for complete.
    </p>
</div>



{% endblock %}
