{% extends 'hw/hw.html' %}

{% block title %}CSE116: Task 3{% endblock %}

{% block header %}
    <h1>Coding Task 3</h1>
    <h5>Polymorphism and Trees</h5>
    <hr/>
{% endblock %}

{% block task %}

    {% call task_card("Overview") %}
        <hr/>
        <h3>Coding Task 3 Overview</h3>
        <hr/>

        <p>
            This task will be released at a later date.
        </p>
    {% endcall %}

    {% call task_card("Problem Set") %}
        <hr/>
        <h3>Overview</h3>
        <hr/>

        <p>
            Problem Set GitHub Repository link:
            <a href="https://github.com/CSE-116/ProblemSet-3">https://github.com/CSE-116/ProblemSet-3</a>
        </p>

        <ol>
            <li>Clone the starter code from the repository linked above into a new IntelliJ project</li>
            <li>
                Make sure the src folder is marked as the source root (Right-click the src folder, choose “mark
                directory as”
                and choose sources root)
            </li>
        </ol>
        <p>
            Once you have the project opened in IntelliJ, you'll see a src folder containing 2 Java packages named
            problem and tests.
        </p>
        <p>
            To submit your project, run <code>problem.Zipper</code>, which will create a zip file containing the
            problem set, and submit it to Autolab.
        </p>

        <hr/>
        <h3>Specification</h3>
        <hr/>

        <p>
            For this problem set, you will write the follow 3 static methods that all related to Trees (The Game
            Features will include Polymorphism). The signatures for these methods exist in the handout repo and the
            methods are all stubbed out.
        </p>

        <ul>
            <li>
                In <code>problem.ProblemSet3</code> complete the <code>maxBST</code> method that takes a BST of Integers
                as
                a parameter and returns an int. This method returns the maximum value of the BST according to its
                comparator.
                <ul>
                    <li>
                        Note that this method does not necessarily return the largest value in the tree since maximum is
                        defined by the BST's Comparator. Maximum in this context can be thought of as the value that
                        would come last in fully sorted using this Comparator
                    </li>
                </ul>
            </li>
        </ul>

        <br>

        <ul>
            <li>
                In <code>problem.ProblemSet3</code> complete the <code>maxBinaryTree</code> method that takes a Binary
                Tree Node of Integers and an Integer Comparator as
                parameters and returns an int. This method returns the maximum value of the Binary Tree, defined by the
                parameter node as the root of the tree, according to the provided comparator.
                <ul>
                    <li>
                        This method is similar to <code>maxBST</code>, except the tree no longer has the structure of a
                        BST. You should use the compartor to perform any comparisons that are needed to find the maximum
                        value according to that comparator
                    </li>
                </ul>
            </li>
        </ul>

        <br>

        <ul>
            <li>
                In <code>problem.ProblemSet3</code> complete the <code>isBST</code> method that takes a Binary
                Tree Node of Integers and an Integer Comparator as
                parameters and returns a boolean. This method returns true if the Binary Tree, defined by the
                parameter node as the root of the tree, is a valid BST according to the provided comparator.
                <ul>
                    <li>
                        You may assume that no values are repeated in the tree. Therefor, you can address ties in
                        value any way you'd like the result will be the same.
                    </li>
                </ul>
            </li>
        </ul>

        <br>

        <hr/>
        <h3>Testing Requirements</h3>
        <hr/>

        <p>
            Write JUnit tests for the following methods from the specification in the <code>tests.TestProblemSet3</code>
            class. These tests should be annotated with <code>@Test</code>.
        </p>
        <ul>
            <li>
                <code>maxBST</code>
                <ul>
                    <li>
                        Write tests for the <code>maxBST</code> method. Test that the proper value is returned in a
                        variety of cases
                    </li>
                    <li>
                        When testing this method, you will need to create BST objects. You can use any/all of the
                        provided Integer Comparators to create these BSTs
                    </li>
                </ul>
            </li>
            <li>
                <code>maxBinaryTree</code> and <code>isBST</code>
                <ul>
                    <li>
                        Test for these methods are provided for you. You do not need to write any additional tests for
                        these methods
                    </li>
                </ul>
            </li>
        </ul>


        <br/>

        <hr/>
        <h3>Programming Requirements</h3>
        <hr/>

        <p>
            Implement the methods from the specification. You may wish to complete the Testing Requirements before you
            begin implementation, and it's suggested that you run these tests as you implement the methods.
        </p>

        <br/>

        <hr/>
        <h3>Autolab Feedback</h3>
        <hr/>

        <p>
            Feedback from Autolab will be given in several phases. If you
            don't complete a phase, then feedback for the following phase(s) will not be given. You must complete all
            phases to earn the required
            score of 20 LOs. For the problem set, the phases will be as follows:
        </p>
        <ol>
            <li>
                Running your tests on a correct solution
                <ul>
                    <li>Your tests will be run against a solution that is known to be correct. If your tests do
                        not pass this correct solution, there is an error somewhere in your tests that must be
                        fixed before you can move on with the assignment. If your tests don't get past this
                        check, you should re-read this document and make sure you implemented your tests and
                        code according the specification. You should also make sure that if there are multiple
                        correct outputs to the input in your tests cases that you accept any of the outputs as
                        correct.
                    </li>
                </ul>
            </li>
            <li>
                Checking your tests for feature coverage
                <ul>
                    <li>The next phase is to check if your tests check for a variety of features defined by
                        different inputs. You should write at least one test case for each feature to pass this
                        phase.
                    </li>
                    <li>Passing this phase does not necessarily mean that your testing is completely thorough.
                        Satisfying Autolab is the bare minimum testing requirement. Not all possible inputs are
                        checked and it is sometimes possible to pass this phase with weak testing. If you are
                        struggling to earn credit for code that you believe is correct, you should write more
                        than the required tests
                    </li>
                </ul>
            </li>
            <li>
                Running my tests on your solution
                <ul>
                    <li>Once Autolab is happy with your tests, it will run my tests against your code to check
                        it for correctness. If your testing is thorough, and your code passes your tests, then
                        you should pass this phase. If you pass your tests, but fail one of mine, it is an
                        indicator that you should write more tests to help expose your bug.
                    </li>
                </ul>
            </li>
        </ol>
        <p>
            Once you have successfully completed all three phases, you will have completed this Problem Set and Autolab
            will
            confirm this with a score of 20 LOs.
        </p>
    {% endcall %}

    {% call task_card("Game Features") %}
        <hr/>
        <h3>Overview</h3>
        <hr/>

        <!-- Task Overview Here -->

        <hr/>
        <h3>Learning Objective</h3>
        <hr/>
        <h4>Testing Utility</h4>

        <!-- LO Testing Utility Here -->

        <hr/>
        <h4>Testing Requirements</h4>
        <hr/>

        <!-- LO Testing Requirements Here -->

        <br/>

        <hr/>
        <h4>Programming Requirements</h4>
        <hr/>

        <!-- LO Programming Requirements Here -->

        <br/>

        <hr/>
        <h3>Comprehensive Understanding</h3>
        <hr/>
        <h4>Programming Requirements</h4>
        <hr/>

        <br/>

        <hr/>
        <h3>Autolab Feedback</h3>
        <hr/>

        <p>
            Feedback for the Learning Objective component of the Game Features will be given in several phases. If you
            don't complete a phase, then feedback for the following phase(s) will not be given. You must
            complete all the following phases to earn the required score of 30 LOs to complete this task. The phases for
            the Learning Objective are as follows:
        </p>

        <ol>
            <li>
                Testing your testing utility method
                <ul>
                    <li>
                        Your testing utility method will be checked with a variety of test cases to ensure that
                        it makes all the required checks. This phase will ensure that your utility method is accurate
                        before you start using it in your tests.
                    </li>
                </ul>

            </li>
            <li>
                Running your tests on a correct solution
                <ul>
                    <li>
                        Your tests will be run against a solution that is known to be correct. If your tests do
                        not pass this correct solution, there is an error somewhere in your tests that must be
                        fixed before you can move on with the assignment. If your tests don't get past this
                        check, you should re-read this document and make sure you implemented your tests and
                        code according the specification. You should also make sure that if there are multiple
                        correct outputs to the input in your tests cases that you accept any of the outputs as
                        correct.
                    </li>
                </ul>
            </li>
            <li>
                Checking your tests for feature coverage
                <ul>
                    <li>
                        The next phase is to check if your tests check for a variety of features defined by
                        different inputs. You should write at least one test case for each feature to pass this
                        phase.
                    </li>
                    <li>
                        Passing this phase does not necessarily mean that your testing is completely thorough.
                        Satisfying Autolab is the bare minimum testing requirement. Not all possible inputs are
                        checked and it is sometimes possible to pass this phase with weak testing. If you are
                        struggling to earn credit for code that you believe is correct, you should write more
                        than the required tests.
                    </li>
                </ul>
            </li>
            <li>
                Running my tests on your solution
                <ul>
                    <li>
                        Once Autolab is happy with your tests, it will run my tests against your code to check
                        it for correctness. If your testing is thorough, and your code passes your tests, then
                        you should pass this phase. If you pass your tests, but fail one of mine, it is an
                        indicator that you should write more tests to help expose your bug.
                    </li>
                </ul>
            </li>
        </ol>

        <p>
            Once you have successfully passed all four phases, you will have completed the Learning Objective component
            of the Game Features, and Autolab will confirm this with a score of 30 LOs.
        </p>

        <p>
            The Comprehensive Understanding tests will unlock once you have earned 30 LOs on the assignment. These will
            be run in a single phase for correctness. For each test you successfully pass, you will earn a varying
            amount of CUs with a total maximum score of 50 CUs. There is no required testing component for the
            Comprehensive
            Understanding component; however, you are expected to test your code nonetheless as the Autolab feedback
            is unlikely to be sufficient for debugging.
        </p>
    {% endcall %}
{% endblock %}
